.pillSize{
    width : 100%
}


lightning-radio-group .slds-radio_faux {
    margin-right: 10px;
}

.slds-modal__content{
    overflow: initial;
}

.help-text-container *{
    color:white!important;
}