<template>
    <div>
        <div class="slds-form-element">
            <div class="slds-form-element__control">
                <div class="slds-combobox_container">
                    <div id="box" class={boxClass} aria-expanded="true" aria-haspopup="listbox" role="combobox">
                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                            <template if:true={isValueSelected}>
                                <label class="slds-form-element__label" >{searchPlaceholder}</label>
                                <template if:true={helpTextValue}>
                                        <lightning-helptext content={helpTextValue} class="help-text-container"></lightning-helptext>
                                </template>
                                <div id="lookup-pill" class="slds-pill-container" style={pillContainerStyle}>
                                    <lightning-pill class="pillSize slds-pill_bare" label={selectedName} name={selectedName} onremove={handleRemovePill} href={href}>
                                        <lightning-icon icon-name={iconName} alternative-text="acc" ></lightning-icon>
                                    </lightning-pill>
                                </div>
                            </template>
                            <template if:false={isValueSelected}>
                                <div class="slds-p-top_none">
                                    <lightning-input title="Type here to Search" class={inputClass} type="search" id="input" value={searchTerm}
                                                     label={searchLabel} disabled={disableCompany}
                                                     onclick={handleClick} onblur={onBlur} onchange={onChange}
                                                     field-level-help={helpTextValue} 
                                                     autocomplete="off" placeholder={searchPlaceholder} data-id={searchBox} data-index={rowId}>
                                    </lightning-input>
                                </div>
                            </template>
                        </div>
                        <div if:false={disableCompany} id="listbox-id-1" class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox">
                            <ul class="slds-listbox slds-listbox_vertical" role="presentation"> 
                                <template if:true={records}>
                                        <template for:each={records} for:item="record">
                                                <li key={record.Id} onclick={onSelect} data-id={record.Id} role="presentation" data-name={record.Name}>
                                                    <span class="slds-lookup__item-action slds-lookup__item-action--label" role="option">
                                                        <lightning-icon class="slds-icon slds-icon--small slds-icon-text-default" icon-name={iconName} alternative-text={objName} size="small"></lightning-icon>
                                                        <span class="slds-truncate">{record.Name}</span>
                                                    </span>
                                                </li>
                                            </template>

                                </template>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>