.slds-modal__header {
    background-color: var(--sds-c-modal-header-color-background, #003e7e);
    color: var(--sds-c-badge-color-text, white);
    /* Styles not pertinent have been omitted */
  }
  .slds-dl_horizontal__label{
    background-color:#f3f3f3;
    color:#333333;
    font-size: medium;
    padding:5px;
    margin-bottom:2px;
    width: 50%;
    font-size:14px;
  }
  .slds-dl_horizontal__detail{
    background-color:#f3f3f3;
    color:#333333;
    font-size: medium;
    font-weight: 700;
    padding:5px;
    margin-bottom:2px;
    width: 50%;
    font-size:14px;
  }
  .slds-modal__content{
    color:black;
    font-size: medium;
  }

 .slds-modal__footer
{
    border-top: 0px;
}

div.container-background {
  background-color: #f3f3f3;
}

div.inner-container {
  background-color: #ffffff;
}

header.header-style-container {
  background-color: rgba(0, 62, 126, 1)!important;
  color: white!important;
  text-align: left!important;
}

button.close-btn {
  top: 20%;
  right: 0.5rem;
}

.border-left-blue {
  border-left: 2px solid  rgba(0, 62, 126, 1)!important;
}

.border-right-blue {
  border-right: 2px solid  rgba(0, 62, 126, 1)!important;
}

.border-bottom-blue {
  border-bottom: 2px solid  rgba(0, 62, 126, 1)!important;
}

.no-top-border {
  border-top: 0!important;
}

.slds-text-heading_medium{
  text-align: left!important;
}

.slds-button_success
{
    border-radius: 0!important;
    height: 40px!important;
    width: 90px!important;
    background-color: var(--sds-c-button-success-color-background, #378456);
    padding-left: 25px;
    padding-right: 25px;
    color:var(--sds-c-button-success-text-colorblack, black);
    
}

.slds-button_success:hover
{
    color: white!important;
    background-color: #29417a!important;
}

.border-right-seperator {
  border-right: 2px solid #ffffff!important;
}