<template>
    <template if:true={isPopupVisible}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header header-style-container">
                    <button class="slds-button close-btn slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" name="cancel" onclick={handleBtnClick}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                            size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate"><strong>
                        {headermessage}</strong></h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium border-left-blue border-right-blue" id="modal-content-id-1">
                    <p><b>{confirmationMessage}</b> </p>
                    <div if:true={isDetailVisible}>
                    <div class="slds-p-top_large">
                        <dl class="slds-dl_horizontal">
                            <dt class="slds-dl_horizontal__label border-right-seperator">{customlabelOuter}</dt>
                            <dd class="slds-dl_horizontal__detail">{displayOuterInfo}</dd>
                            <dt class="slds-dl_horizontal__label border-right-seperator">{customlabelInside}</dt>
                            <dd class="slds-dl_horizontal__detail">{displayInsideInfo}</dd>
                        </dl>

                    </div>
                </div>
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer  border-left-blue border-right-blue border-bottom-blue no-top-border">
                    <lightning-button variant="neutral" name="cancel" label={customButtonLabel} title="Cancel"
                        onclick={handleBtnClick} class="slds-m-left_x-small">
                    </lightning-button>
                    <template if:true={isButtonVisible}>
                        <lightning-button variant="success" onclick={handleBtnClick} name="yes" label={label.yes}
                            class="slds-m-left_x-small">
                        </lightning-button>
                    </template>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>