<template>
    <div class="slds-m-around_small">
        <lightning-card variant="narrow">
            <h3 slot="title" class="slds-card__header">
                <lightning-icon icon-name="standard:opportunity" size="medium"></lightning-icon>
                <span class="slds-m-horizontal_x-small theme-color-text"><strong>{tableLabel}</strong></span>
            </h3>

            <div class="slds-p-horizontal_xx-small slds-m-around_medium">
                <lightning-card>

                    <div class="slds-grid slds-wrap searchLabelFont slds-m-around_medium">
                        <div class="slds-col slds-size_1-of-2 slds-medium-size_4-of-12 slds-large-size_2-of-12">
                            <lightning-input type="Date" label="From" data-id="From" class="slds-m-horizontal_xx-small" 
                            value={searchByDate.from} onchange={handleSearchByDate} max={dateValue} placeholder="Enter Date">
                            </lightning-input>
                            <template if:false={isSearchError}>
                                <div class="slds-text-body--small" style="color:rgb(194, 57, 52)">Please Select a From date</div>
                            </template>
                        </div>

                        <div class="slds-col slds-size_1-of-2 slds-medium-size_4-of-12  slds-large-size_2-of-12">
                            <lightning-input type="Date" label="To" data-id="To" class="slds-m-horizontal_xx-small"
                            value={searchByDate.to} onchange={handleSearchByDate} max={dateValue} min={maxToDate} placeholder="Enter Date">
                            </lightning-input>

                        </div>

                        <div class="slds-col slds-size_1-of-1  slds-medium-size_2-of-12 slds-large-size_1-of-12">
                            <div class="slds-p-top_large slds-m-top_xx-small redColor">
                                <lightning-button variant="neutral" title="search" class="slds-m-left_xx-small"
                                    label="Search" onclick={handleSearchBydateButton}>
                                </lightning-button>
                            </div> 
                        </div>

                       <div class="slds-col slds-size_1-of-1  slds-medium-size_2-of-12 slds-large-size_1-of-12">
                            <div class="slds-p-top_large slds-m-top_xx-small redColor">
                                <lightning-button variant="neutral" title="Clear" label={label.clear}
                                onclick={handleSearchBydateButtonOnClear} class="slds-m-left_xxx-small"> 
                                </lightning-button>

                            </div>
                        </div> 
                        
                    </div>
                    <!--  </h3> -->
                    <div if:false={isSearchErrorMessage}>
                    <div class="slds-p-none slds-m-horizontal_medium">
                        <div class="slds-border_top slds-table_bordered slds-table_striped slds-border_left"
                            style="height:300px;box-shadow: 4px 4px 2px 1px #f1f1f1;">
                            <c-custom-data-type-mapping columns={columns} data={records} key-field={keyField}
                                hide-checkbox-column="true" sorted-by={sortBy} sorted-direction={sortDirection}
                                onsort={doSorting} onrowaction={handleRowAction} class="slds-max-medium-table_stacked">
                            </c-custom-data-type-mapping>
                        </div>
                    </div>
                </div>
                    <div if:true={isSearchErrorMessage}>
                        <div class="slds-box">
                            <center>{label.noRecordsFound} </center>
                        </div>
                    </div>

                </lightning-card>
            </div>

            <div slot="footer">
                <div class="slds-grid slds-wrap slds-m-left_medium">
                    <div class="slds-col slds-size_1-of-4  slds-medium-size_4-of-12 slds-large-size_2-of-12">
                        <lightning-combobox name="pagesize" label={label.records} variant="label-hidden"
                            value={pageSize} options={options} onchange={handleChange} dropdown-alignment="auto">
                        </lightning-combobox>
                    </div>

                    <div class="slds-col slds-size_1-of-4 slds-medium-size_4-of-12 slds-large-size_8-of-12">

                    </div>
                    <div class="slds-col slds-size_1-of-4 slds-medium-size_2-of-12 slds-large-size_1-of-12">
                        <lightning-button label={label.previous} title={label.previous} name="previous"
                            onclick={handleClick} variant="neutral" class=" slds-m-horizontal_small"
                            disabled={isDisableForPrevious}>
                        </lightning-button>
                    </div>

                    <div class="slds-col slds-size_1-of-4  slds-medium-size_2-of-12 slds-large-size_1-of-12">
                        <lightning-button label={label.next} title={label.next} name="next" onclick={handleClick}
                            class=" slds-m-horizontal_small" variant="neutral" disabled={isDisableForLast}>
                        </lightning-button>
                    </div>
                </div>
            </div>


        </lightning-card>
    </div>

    <div if:true={isModalShowing}>
        <c-view-application broker-application-form-details={brokerApplicationFormDetails}
            oncloseviewmodel={handleCloseViewModel}></c-view-application>
    </div>
</template>