<template>
    <template for:each={tradeReferenceInformationList} for:item="item" for:index="index">
        <lightning-card key={item.rowId} variant="base">
                <div style="background: #f3f3f3;padding-bottom: 30px!important;
                padding-top: 20px!important;
                padding-left: 10px!important;
                padding-right: 10px!important;">
            <div slot="title">
                <div class=" slds-m-horizontal_medium">
                    <div class="slds-clearfix bottom-border">
                            <div class="count-container">
                                <div class="count-text">{item.count}</div>
                            </div>
                        <div class="slds-m-top_small slds-m-left_small multi-form-title">
                            Trade Information
                        </div>
                        <div class="slds-float_right">

                            <lightning-button-icon icon-name="utility:add" access-key={item.rowId} id={item.rowId}
                                alternative-text={label.addRow} size="medium" title={label.addRow} onclick={createNewRow}
                                variant='Success' class="action-btn success">
                            </lightning-button-icon>

                            <template if:true={item.isDeleteRequire}> <span class="slds-m-horizontal_x-small"></span>
                                <span id={item.rowId} onclick={onDeleteRow} data-row-id={item.rowId}>
                                    <lightning-button-icon icon-name="utility:delete" access-key={item.id} id={index}
                                        alternative-text={label.deleteRow} size="medium" title={label.deleteRow}
                                        data-index={item.rowId} variant='error' class="action-btn error">
                                    </lightning-button-icon>
                                </span>
                            </template>
                            <template if:false={item.isDeleteRequire}>
                                <template if:false={item.isClearButtonVisible}>
                                    <span class="slds-m-horizontal_x-small"></span>

                                    <lightning-button-icon icon-name="utility:close" size="medium" onclick={onClear}
                                        variant='error' class="action-btn error" alternative-text={label.clearData}
                                        title={label.clearData}>
                                    </lightning-button-icon>
                                    <strong class="slds-m-left--x-small"></strong>
                                </template>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
                </div>

            <div class="slds-m-horizontal_medium slds-body-container">
                <div class="slds-grid slds-wrap slds-m-top_small">

                    <div class="slds-col  slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap ">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                        <template if:true={item.isRecordSearch}>
                                                <lightning-input type="text" label="Company Search" data-id="fullSearchName" oncommit={handleChange} value={item.fullSearchName} data-index={item.rowId} disabled={item.isRecordSearch}> </lightning-input>
                                            </template>
                                            <template if:false={item.isRecordSearch}>
                                    <c-custom-lookup obj-name="Account" search-placeholder={label.companySearch}
                                        search-label={label.companySearch} icon-name="standard:account"
                                        help-text-value={label.companyCodeToolTipMessage}
                                        onlookupselected={handleTradeSelection} disable-company={item.isDisable}
                                        onclearformdata={clearFormFromCustomLookup} data-row-id={item.rowId}>
                                    </c-custom-lookup>
                                </template>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-input type="Text" label={label.companyName} data-id="companyName"
                                        value={item.companyName} onchange={onHandleChange} data-index={item.rowId}
                                        required={item.isRequired} disabled={item.isDisable}
                                        placeholder={label.enterTheValue}>
                                    </lightning-input>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class=" slds-m-horizontal_medium">
                                    <lightning-input type="Text" label={label.companyAddress} data-id="addressLine1"
                                        value={item.addressLine1} onchange={onHandleChange} data-index={item.rowId}
                                        required={item.isRequired} disabled={item.isDisable}
                                        placeholder={label.enterTheValue}>
                                    </lightning-input>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class=" slds-m-horizontal_medium">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="slds-grid slds-wrap ">
                    <div class="slds-col  slds-size_1-of-2  ">
                        <div class="slds-grid slds-wrap ">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-combobox options={countryControllingValues} label={label.country}
                                        disabled={item.isDisable} data-id="countryTrade" value={item.countryTrade}
                                        data-index={item.rowId} onchange={onHandleChange} required={item.isRequired}>
                                    </lightning-combobox>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <c-dynamic-select-component custom-options={defaultCountryAndStateData}
                                        selected-value={item.stateTrade} custom-label={label.state}
                                        dependent-value={item.countryTrade} key-param={dependentPickListKey.stateTrade}
                                        current-index={item.rowId} data-id="stateTrade"
                                        onselectdependentpicklist={handleSelectDependentpicklist}
                                        is-required={item.isRequired} is-disable={item.isDisable}>
                                    </c-dynamic-select-component>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap ">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class=" slds-m-horizontal_medium">
                                    <lightning-input type="Text" label={label.city} data-id="cityTrade"
                                        value={item.cityTrade} onchange={onHandleChange} data-index={item.rowId}
                                        required={item.isRequired} disabled={item.isDisable}
                                        placeholder={label.enterTheValue}>
                                    </lightning-input>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class=" slds-m-horizontal_medium">
                                    <lightning-input type="Text" label={label.zip} data-id="zipTrade"
                                        value={item.zipTrade} onchange={onHandleChange} data-index={item.rowId}
                                        required={item.isRequired} disabled={item.isDisable}
                                        placeholder={label.enterTheValue} maxlength="10">
                                    </lightning-input>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-grid slds-wrap slds-m-bottom_small">
                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap slds-p-bottom_x-small">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-input type="Text" label={label.firstName} data-id="firstNameTrade"
                                        value={item.firstNameTrade} onchange={onHandleChange} data-index={item.rowId}
                                        required={item.isRequired} disabled={item.isDisable}
                                        placeholder={label.enterTheValue}>
                                    </lightning-input>

                                </div>
                            </div>

                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-input type="Text" label={label.lastName} data-id="lastNameTrade"
                                        value={item.lastNameTrade} onchange={onHandleChange} data-index={item.rowId}
                                        required={item.isRequired} disabled={item.isDisable}
                                        placeholder={label.enterTheValue}>
                                    </lightning-input>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap ">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class=" slds-m-horizontal_medium">
                                    <lightning-input type="Text" label={label.phoneNumber} data-id="phoneNumberTrade"
                                        value={item.phoneNumberTrade} onblur={onHandleChange} data-index={item.rowId}
                                        maxlength="10" minlength="10" required={item.isRequired} onfocus={handleOnFocus}
                                        disabled={item.isDisable} onkeyup={handleOnKeyUp}
                                        placeholder={label.enterTheValue}>
                                    </lightning-input>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class=" slds-m-horizontal_medium">
                                    <lightning-input type="Text" label={label.fax} data-id="faxTrade" minlength="10"
                                        value={item.faxTrade} onblur={onHandleChange} onfocus={handleOnFocus}
                                        data-index={item.rowId} required={item.isRequired} disabled={item.isDisable}
                                        placeholder={label.enterTheValue}>
                                    </lightning-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </lightning-card>
    </template>
    <c-error-modal is-error-visible={errorDetails.isErrorVisible} header-message={errorDetails.headerMessage}
    error-content={errorDetails.errorContent} onerrordisplay={handleErrorPopup}></c-error-modal>
</template>