<template>
    <div style="background: #f3f3f3;">
        <div class="slds-clearfix equipment-header">
            <div style="float: left;font-size: 15px;font-weight: 700;"> Credit Condition </div>
        </div>

        <div class="container-background slds-p-around_large">
            <div class="slds-box inner-container">
                <div class='slds-form'>
                    <div class="slds-form__row">
                        <div class="slds-form__item" role="listitem">
                            <div
                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                                <span class="slds-form-element__label">{label.dealName}</span>
                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__static"> {dealDetails.dealName} </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-form__item" role="listitem">
                            <div
                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                                <span class="slds-form-element__label">{label.fullLegalCompanyName}</span>
                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__static"> {dealDetails.companyName} </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slds-form__row">
                        <div class="slds-form__item" role="listitem">
                            <div
                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                                <span class="slds-form-element__label">{label.equipmentDescription}</span>
                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__static"> {dealDetails.equipmentDescription}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-form__item" role="listitem">
                            <div
                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                                <span class="slds-form-element__label">{label.estimatedEquipmentCost}</span>
                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__static"> {dealDetails.Amount} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <template for:each={creditDocumentList} for:item="item">
                    <lightning-card key={item.rowId}>
                        <div class="slds-p-horizontal_small">
                            <div class="slds-grid slds-wrap">
                                <div
                                    class="slds-col slds-size_1-of-1 slds-p-top_large slds-medium-size_7-of-12 slds-large-size_7-of-12 slds-p-right_x-small">
                                    <span data-id="creditConditions" id={item.rowId}
                                        data-row-id={item.rowId}>{item.creditConditions}</span>
                                </div>
                                 
                                <div
                                    class="slds-col slds-size_1-of-1  slds-medium-size_5-of-12 slds-large-size_5-of-12 slds-p-bottom_xx-large">
                                    <lightning-file-upload name="fileUploader" data-id="fileUploader"
                                        data-index={item.rowId} label="File Upload" class="slds-m-vertical_small"
                                        accept={acceptedFormats} onuploadfinished={handleOnUploadFinished}>
                                    </lightning-file-upload>
                                </div>
                            </div>
                        </div>
                    </lightning-card>
                </template>

                <template if:true={isDataAvailable}>

                    <div class="container slds-m-around_small slds-var-p-bottom_medium">
                        <div style="width: auto;">
                            <div class="slds-border_top slds-table_bordered slds-table_striped slds-border_left"
                                if:true={data} style="box-shadow: 2px 2px 2px 2px #dddddd;">

                                <lightning-datatable wrap-text-max-lines="100" data={data} columns={columns}
                                    hide-checkbox-column="true" class="slds-max-medium-table_stacked" key-field="id"
                                    onrowaction={handleOnRowAction}> </lightning-datatable>
                            </div>
                        </div>
                    </div>
                    <div class="slds-p-top_medium slds-p-right_medium slds-p-bottom_medium slds-m-bottom_medium">
                        <div class="slds-align_absolute-center">
                            <lightning-button variant="neutral" label="Submit" onclick={handleOnSubmit}
                                class="slds-m-left_x-small">
                            </lightning-button>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <c-error-modal is-error-visible={errorDetails.isErrorVisible} header-message={errorDetails.headerMessage}
        error-content={errorDetails.errorContent} onerrordisplay={handleErrorPopup}></c-error-modal>

    <c-application-popup-section is-popup-visible={isModalOpen} onpopupclose={onClosingModal}
        confirmation-message={label.pleaseUploadAllTheRequiredDocuments} is-detail-visible={isCompanyModalOpen}
        headermessage={label.creditConditionError} is-button-visible={isButtonVisible} custom-button-label={label.ok}>
    </c-application-popup-section>
</template>