<template>

    
    <lightning-combobox data-id={keyParam}
        options={dynamicDependentOptions} value={selectedValue} 
        required={isRequired} 
        onchange={handleOnChange}
        readonly={isReadOnly}
        label={customLabel}
        disabled={isDisable}> </lightning-combobox>

</template>