<template>
    <template for:each={partnerDetailsList} for:item="item" for:index="index">
        <lightning-card key={item.rowId}>
            <div style="background: #f3f3f3;padding-bottom: 30px!important;
                    padding-top: 20px!important;
                    padding-left: 10px!important;
                    padding-right: 10px!important;">
                <div slot="title">
                    <div class=" slds-m-horizontal_medium">
                        <div class="slds-clearfix bottom-border">
                            <div class="count-container">
                                <div class="count-text">{item.count}</div>
                            </div>
                            <div class="slds-m-top_small slds-m-left_small multi-form-title"> Partner Information </div>
                            <div class="slds-float_right">
                                <lightning-button-icon icon-name="utility:add" access-key={item.rowId} id={item.rowId}
                                    alternative-text={label.addRow} size="medium" title={label.addRow}
                                    onclick={createNewRow} class="action-btn success" variant='success'>
                                </lightning-button-icon>
                                <template if:false={item.isDeleteRequire}>
                                    <template if:false={item.isDisable}> <span class="slds-m-horizontal_x-small"></span>
                                        <lightning-button-icon icon-name="utility:close" size="medium"
                                            onclick={onClearRows} variant='error' class="action-btn error"
                                            alternative-text={label.clearData} title={label.clearData}>
                                        </lightning-button-icon> <strong class="slds-m-left--x-small"></strong>
                                    </template>
                                </template>
                                <template if:true={item.isDeleteRequire}> <span
                                        class="slds-m-horizontal_x-small"></span> <span id={item.rowId}
                                        onclick={onDeleteRow} data-row-id={item.rowId}>
                                        <lightning-button-icon icon-name="utility:delete" access-key={item.id}
                                            id={index} alternative-text={label.deleteRow} size="medium"
                                            title={label.deleteRow} data-index={item.rowId} variant='error'
                                            class="action-btn error">
                                        </lightning-button-icon>
                                    </span> </template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-m-horizontal_medium slds-body-container">
                    <div class="slds-grid slds-wrap slds-m-top_small">
                        <div class="slds-col slds-size_1-of-2 ">
                            <div class="slds-grid slds-wrap ">
                                <div
                                    class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                    <div class="slds-m-horizontal_medium">
                                        <lightning-input type="Text" label={label.FirstName} disabled={item.isDisable}
                                            data-id="firstName" oncommit={onHandleChange} value={item.firstName}
                                            data-index={item.rowId} required={item.isRequired}
                                            placeholder={label.enterTheValue}> </lightning-input>
                                    </div>
                                </div>
                                <div
                                    class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                    <div class="slds-m-horizontal_medium">
                                        <lightning-input type="Text" label={label.MiddleName} disabled={item.isDisable}
                                            data-id="middleName" oncommit={onHandleChange} value={item.middleName}
                                            data-index={item.rowId} placeholder={label.enterTheValue}>
                                        </lightning-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-2 ">
                            <div class="slds-grid slds-wrap">
                                <div
                                    class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                    <div class=" slds-m-horizontal_medium">
                                        <lightning-input type="Text" label={label.LastName} disabled={item.isDisable}
                                            data-id="lastName" oncommit={onHandleChange} value={item.lastName}
                                            data-index={item.rowId} required={item.isRequired}
                                            placeholder={label.enterTheValue}> </lightning-input>
                                    </div>
                                </div>
                                <div
                                    class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                    <div class=" slds-m-horizontal_medium">
                                        <template if:false={item.isCreatedByMe}>
                                            <lightning-input type="text" label={label.DOB} disabled={item.isDisable}
                                                data-id="maskedDob" onchange={onHandleChange} max={dateValue} value={item.maskedDob}
                                                data-index={item.rowId} placeholder={label.enterTheValue}>
                                            </lightning-input>
                                        </template>
                                        <template if:true={item.isCreatedByMe}>
                                            <lightning-input type="Date" label={label.DOB} disabled={item.isDisable}
                                                data-id="dOB" onchange={onHandleChange} max={dateValue} value={item.dOB}
                                                data-index={item.rowId} placeholder={label.enterTheValue}>
                                            </lightning-input>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-grid slds-wrap ">
                        <div class="slds-col  slds-size_1-of-2  ">
                            <div class="slds-grid slds-wrap ">
                                <div
                                    class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                    <div class="slds-m-horizontal_medium">
                                        <template if:false={item.isCreatedByMe}>
                                            <lightning-input type="Text" label={label.MailingStreet}
                                                disabled={item.isDisable} data-id="maskedMailingStreet"
                                                data-index={item.rowId} oncommit={onHandleChange}
                                                value={item.maskedMailingStreet} required={item.isRequired}
                                                placeholder={label.enterTheValue}> </lightning-input>
                                        </template>
                                        <template if:true={item.isCreatedByMe}>
                                            <lightning-input type="Text" label={label.MailingStreet}
                                                disabled={item.isDisable} data-id="mailingStreet"
                                                data-index={item.rowId} oncommit={onHandleChange}
                                                value={item.mailingStreet} required={item.isRequired}
                                                placeholder={label.enterTheValue}> </lightning-input>
                                        </template>
                                    </div>
                                </div>
                                <div
                                    class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                    <div class="slds-m-horizontal_medium">
                                        <lightning-combobox options={countryControllingValues}
                                            label={label.MailingCountry} disabled={item.isDisable}
                                            data-id="mailingCountry" value={item.mailingCountry} data-index={item.rowId}
                                            onchange={onHandleChange} required={item.isRequired}> </lightning-combobox>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-2 ">
                            <div class="slds-grid slds-wrap ">
                                <div
                                    class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                    <div class=" slds-m-horizontal_medium">
                                        <c-dynamic-select-component custom-options={defaultCountryAndStateData}
                                            selected-value={item.mailingState} custom-label={label.MailingState}
                                            dependent-value={item.mailingCountry}
                                            key-param={dependentPickListKey.mailingState} current-index={item.rowId}
                                            data-id="mailingState"
                                            onselectdependentpicklist={handleSelectDependentpicklist}
                                            is-required={item.isRequired} is-disable={item.isDisable}>
                                        </c-dynamic-select-component>
                                    </div>
                                </div>
                                <div
                                    class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                    <div class=" slds-m-horizontal_medium">
                                        <lightning-input type="Text" label={label.MailingCity} disabled={item.isDisable}
                                            data-id="mailingCity" oncommit={onHandleChange} value={item.mailingCity}
                                            data-index={item.rowId} required={item.isRequired}
                                            placeholder={label.enterTheValue}> </lightning-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-grid slds-wrap slds-m-bottom_small">
                        <div class="slds-col slds-size_1-of-2 ">
                            <div class="slds-grid slds-wrap slds-p-bottom_x-small">
                                <div
                                    class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                    <div class="slds-m-horizontal_medium">
                                        <lightning-input type="Text" label={label.MailingPostalCode}
                                            disabled={item.isDisable} data-id="mailingPostalCode"
                                            value={item.mailingPostalCode} oncommit={onHandleChange}
                                            data-index={item.rowId} required={item.isRequired}
                                            placeholder={label.enterTheValue}> </lightning-input>
                                    </div>
                                </div> 
                                <div
                                    class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                    <div class="slds-m-horizontal_medium">
                                        <template if:true={item.isCreatedByMe}>
                                            <lightning-input type="text"
                                                message-when-pattern-mismatch="No Characters are allowed and length should be 9"
                                                label={label.SocialSecurity} disabled={item.isDisable}
                                                pattern="^(?!000|999)[0-9][0-9]{2}-(?!00)[0-9]{2}-(?!0000)[0-9]{4}$"
                                                data-id="socialSecurity" value={item.socialSecurity}
                                                onfocus={handleOnFocus} onblur={onHandleChange} data-index={item.rowId}
                                                placeholder={label.enterTheValue}> </lightning-input>
                                        </template>
                                        <template if:false={item.isCreatedByMe}>
                                            <lightning-input type="text"
                                                message-when-pattern-mismatch="No Characters are allowed and length should be 9"
                                                label={label.SocialSecurity} disabled={item.isDisable}
                                                pattern="^(?!000|999)[0-9][0-9]{2}-(?!00)[0-9]{2}-(?!0000)[0-9]{4}$"
                                                data-id="maskedSocialSecurity" value={item.maskedSocialSecurity}
                                                onfocus={handleOnFocus} onblur={onHandleChange} data-index={item.rowId}
                                                placeholder={label.enterTheValue}> </lightning-input>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-2 ">
                            <div class="slds-grid slds-wrap ">
                                <div
                                    class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                    <div class=" slds-m-horizontal_medium">
                                        <template if:true={item.isCreatedByMe}>
                                           <lightning-input type="Text" label={label.HomePhone} disabled={item.isDisable}
                                            onkeyup={handleOnKeyUp} data-id="homePhone" onblur={onHandleChange}
                                            onfocus={handleOnFocus} value={item.homePhone} maxlength="10" minlength="10"
                                            data-index={item.rowId} required={item.isRequired}
                                            placeholder={label.enterTheValue}> </lightning-input>
                                        </template>
                                        <template if:false={item.isCreatedByMe}>
                                            <lightning-input type="Text" label={label.HomePhone} disabled={item.isDisable}
                                             onkeyup={handleOnKeyUp} data-id="maskedHomePhone" onblur={onHandleChange}
                                             onfocus={handleOnFocus} value={item.maskedHomePhone} maxlength="10" minlength="10"
                                             data-index={item.rowId} required={item.isRequired}
                                             placeholder={label.enterTheValue}> </lightning-input>
                                        </template>
                                    </div>
                                </div>
                                <div
                                    class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                    <div class="slds-m-horizontal_medium">
                                        <lightning-input type="number" label={label.OwnershipPercentage}
                                            data-index={item.rowId} disabled={item.isDisable}
                                            data-id="ownershipPercentage" value={item.ownershipPercentage}
                                            formatter="number" step="0.01" oncommit={onHandleChange} max="100.00"
                                            min="1.00" message-when-range-underflow="Please enter ownership % above 1"
                                            message-when-range-overflow="Please enter ownership % upto 100"
                                            maxlength="6"
                                            message-when-step-mismatch={label.pleaseEnterCostUptoTwoDecimalPlaces}
                                            required={item.isRequired} placeholder={label.enterTheValue}>
                                        </lightning-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </lightning-card>
    </template>
    <c-error-modal is-error-visible={errorDetails.isErrorVisible} header-message={errorDetails.headerMessage}
        error-content={errorDetails.errorContent} onerrordisplay={handleErrorPopup}></c-error-modal>
</template>