<template>
    <template if:true={errorString}>
        <div class='slds-card'>
            <div class=" slds-m-around_medium">
                <c-error-panel type="inlineMessage" friendly-message="Error on process entity for validation."
                    errors={errorString}></c-error-panel>
            </div>
            <div class=" slds-m-around_medium ">
                <lightning-button icon-name="utility:back" label={entityVerificationLabels.backToDetailLabel} title={entityVerificationLabels.backToDetailLabel}
                    onclick={handleBackToDetail}></lightning-button>
            </div>
        </div>
    </template>

    <template if:true={isModalOpen}>
        <c-fcs-business-detail business-details={businessDetails} onbusinessdetailaction={handleBusinessDetailAction}>
        </c-fcs-business-detail>
    </template>

    <tempate if:true={isBusinessInformation}>
        <c-fcs-entity-information entity-information={businessInformation}
        onhandlebusinessinfo={handleBusinessInformationAction}></c-fcs-entity-information>
    </tempate>

    
    <c-dialog-modal title={title} confirm-label={confirmLabel} cancel-label={cancelLabel}
        visible={isConfirmationPrompt} original-message={originalMessage} name="confirmModal" 
        onmodalactionclick={handleConfirmModalClik}>
            <div slot="dynamicMessage">
                <div class="slds-text-color_default">{message}</div>
                <template if:true={selectedBusiness}>
                    <dl class="slds-list_horizontal slds-wrap slds-m-around_small">
                        <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Company Name">Company Name:</dt>
                        <dd class="slds-item_detail slds-truncate" title={selectedBusiness.companyName}>{selectedBusiness.companyName}</dd>
                        <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Second Label">State Code:</dt>
                        <dd class="slds-item_detail slds-truncate" title={selectedBusiness.state}>{selectedBusiness.state}</dd>
                    </dl>
                </template>
                
            </div>
    </c-dialog-modal>

    <div if:true={isLoading} class="full-size-spinner">
        <lightning-spinner variant="brand" alternative-text="In Progress..." size="medium">
        </lightning-spinner>
    </div>

    <tempate if:true={isBusinessDetailSFModel}>
        <c-fcs-entity-business-detail-info-s-f 
        entity-business-detail-info-s-f={entityBusinessDetailFromSF}
            onsfbusinessdetailaction={handleBusinessDetailSF}>
        </c-fcs-entity-business-detail-info-s-f>
    </tempate>

</template>