<template>



    <div if:true={dataTableColumn}>
      <c-pending-application table-label={label.pendingApplications} records={tableData} table-columns={dataTableColumn}
        key-field="id" onnumberofrecordsonpage={handleRecordsOnPage}
        onsortingdeals={handleSorting} s-object={opportunityObject} options={pageSizeOptions} page-size={pageSize}
        onpaginateaction={handlePaginationAction} is-search-error-message={searchErrorMessage}
        table-action-column={actionColumn} offset-value={offsetValue} is-last-record={isLastRecord} onsearchbydate={handleSearchByDate}> 
  
        <div slot="actions">  
            
            <lightning-button label={label.homePage} title={label.homePage} onclick={handleClick}
            class="slds-m-left_x-small" name="backToHome" icon-name="standard:home"></lightning-button> 
  
        </div>  
   
      </c-pending-application> 
    </div>
  
  
  
    <div if:true={displaySpinner}>
      <lightning-spinner variant="brand" alternative-text="Loading Cases" size="medium">
      </lightning-spinner>
    </div>
  </template>