<template>
    <div class="slds-m-around_small ">
        <lightning-card>
            <h3 slot="title" class="slds-card__header">
                <lightning-icon icon-name="standard:opportunity" size="medium"></lightning-icon>
                <span class="slds-m-horizontal_x-small theme-color-text"><strong>{tableLabel}</strong></span>
            </h3>
            <lightning-card>
                <div class="slds-grid slds-wrap slds-m-around_medium searchLabelFont">

                    <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12 ">

                        <div class="slds-m-right_large slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
                            role="none">

                            <template if:true={isValueSelected}>
                                <label class="slds-form-element__label">{label.search}</label>

                                <div id="lookup-pill" class="slds-pill_container">
                                    <lightning-pill class="pillSize slds-pill_bare" label={searchParam}
                                        name={searchParam} onremove={handleRemovePill} href={href}>
                                    </lightning-pill> 
                                </div>
                            </template>

                            <template if:false={isValueSelected}>
                                <div class="slds-p-top_none">
                                    <lightning-input label={label.search} type="search" onkeypress={handleSearchItem}
                                        min-length="3" placeholder={label.search} class="slds-m-left_xx-small">
                                    </lightning-input>
                                </div>
                            </template>

                        </div>

                        <template if:true={isSearchBoxEmpty}>
                            <div style="color:red"> {label.pleaseEnterCompanyCodeCompanyName} </div>
                        </template>

                    </div>

                    <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <div class="slds-clearfix ">
                            <div class="slds-float_right ">
                                <slot name="actions">
                                </slot>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-grid slds-wrap slds-m-around_medium searchLabelFont">

                    <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_3-of-12 ">
                        <lightning-input type="Date" label="From" data-id="From" class="slds-m-left_xx-small slds-m-right_large"
                            value={searchByDate.from} onchange={handleSearchByDate} max={dateValue}
                            placeholder="Enter Date">
                        </lightning-input>
                        <template if:false={isSearchError}>
                            <div class="slds-text-body--small" style="color:rgb(194, 57, 52)">Please Select a From date</div>
                        </template>
                    </div>
 
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_3-of-12">
                        <lightning-input type="Date" label="To" data-id="To" class="slds-m-left_xx-small slds-m-right_large"
                            value={searchByDate.to} onchange={handleSearchByDate} max={dateValue} min={minDate}
                            placeholder="Enter Date">
                        </lightning-input>
                    </div>

                    <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_1-of-12">
                        <div class="slds-p-top_large slds-m-left_xx-small" style="margin-top:4px;">
                            <lightning-button variant="neutral" title="search"
                                label="Search" onclick={handleSearchBydateButton}>  
                            </lightning-button>
                        </div>
                    </div> 

                    <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_1-of-12">
                        <div class="slds-p-top_large slds-m-left_xx-small" style="margin-top:4px;">
                            <lightning-button variant="neutral" title="Reset" class=""
                                label={label.clear} onclick={handleSearchByDateButtonOnClear}>
                            </lightning-button>
                        </div>
                    </div> 

                </div>
                <div class="slds-m-around_small slds-var-p-bottom_medium">
                    <div if:true={records}>
                        <div class=" slds-m-left_x-small slds-border_top slds-table_bordered slds-table_striped slds-border_left"
                            style="height:300px;box-shadow: 4px 4px 2px 1px #f1f1f1;">
                            <c-custom-data-type-mapping columns={columns} data={records} key-field={keyField}
                                hide-checkbox-column="true" sorted-by={sortBy} sorted-direction={sortDirection}
                                onsort={doSorting} onrowaction={handleRowAction} class="slds-max-medium-table_stacked">
                            </c-custom-data-type-mapping>
                        </div>
                    </div>
                    <div if:false={records}>
                        <div class="slds-box">
                            <center>{label.noRecordsFound} </center>
                        </div>
                    </div>
                </div>
            </lightning-card>

            <div slot="footer">
                <div if:true={records}>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-size_1-of-4  slds-medium-size_4-of-12 slds-large-size_2-of-12">
                            <lightning-combobox name="pagesize" label={label.records} variant="label-hidden"
                                value={pageSize} options={options} onchange={handleChange} dropdown-alignment="auto">
                            </lightning-combobox>
                        </div>
                        <div class="slds-col slds-size_1-of-4 slds-medium-size_4-of-12 slds-large-size_8-of-12"> </div>
                        <div class="slds-col slds-size_1-of-4  slds-medium-size_2-of-12 slds-large-size_1-of-12">
                            <lightning-button variant="neutral" label={label.previous} title={label.previous}
                                name="previous" onclick={handleClick} class=" slds-m-horizontal_small"
                                disabled={isDisableForPrevious}> </lightning-button>
                        </div>
                        <div class="slds-col slds-size_1-of-4  slds-medium-size_2-of-12 slds-large-size_1-of-12">
                            <lightning-button variant="neutral" label={label.next} title={label.next} name="next"
                                onclick={handleClick} class=" slds-m-horizontal_small" disabled={isDisableForLast}>
                            </lightning-button>
                        </div>
                    </div>
                </div>
            </div>
            <div if:true={isModalShowing}>
                <c-view-application broker-application-form-details={brokerApplicationFormDetails}
                    oncloseviewmodel={handleCloseViewModel}></c-view-application>
            </div>
            <div if:true={displaySpinner}>
                <lightning-spinner variant="brand" alternative-text="Loading Cases" size="medium"> </lightning-spinner>
            </div>
        </lightning-card>
    </div>
</template>