.searchLabelFont{
    font-size: small;
}
.redColor{
    cursor: pointer;        
}

.pillSize{
    width : 100%
}

.THIS .slds-datepicker table { 
    table-layout: fixed;
}

.myApplicationLabel{

    background: #e6e6e6;
    opacity: 0.9;
}

.slds-card__header {
    padding: 0rem 0rem 0rem;
    margin: 0px 0px 0px;
    background: #e6e6e6;
    opacity: 0.9;
   
}

.slds-input{
    line-height: 30px;
}

  .theme-color-text {
      color: #378456;
  }