.spins::after {
    position: absolute;
    content: 'Please wait your record is getting created';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
    background: blur;
    color:rgb(10, 14, 63);
}

.slds-accordion__section {
    padding: 0!important;
}
.accordion-background .slds-accordion__section .slds-accordion__summary {
    background: #dddddd!important;
    padding: 13px!important;
    font-weight: bold!important;
}


div.container-background {
    background-color: #f3f3f3;
  }
  
  div.inner-container {
    background-color: #ffffff;
  }
  
  header.header-style-container {
    background-color: rgba(0, 62, 126, 1)!important;
    color: white!important;
    text-align: left!important;
  }
  
  button.close-btn {
    top: 20%;
    right: 0.5rem;
  }
  
  .border-left-blue {
    border-left: 2px solid  rgba(0, 62, 126, 1)!important;
  }
  
  .border-right-blue {
    border-right: 2px solid  rgba(0, 62, 126, 1)!important;
  }
  
  .border-bottom-blue {
    border-bottom: 2px solid  rgba(0, 62, 126, 1)!important;
  }
  
  .no-top-border {
    border-top: 0!important;
  }
  
  .slds-text-heading_medium{
    text-align: left!important;
  }
  
  .slds-button_success
  {
      border-radius: 0!important;
      height: 40px!important;
      width: 90px!important;
      background-color: var(--sds-c-button-success-color-background, #378456);
      padding-left: 25px;
      padding-right: 25px;
      color:var(--sds-c-button-success-text-colorblack, black);
      
  }
  
  .slds-button_success:hover
  {
      color: white!important;
      background-color: #29417a!important;
  }

  .slds-modal__content{
    color:black;
    font-size: medium;
  }