<template>
    <div if:true={isLoaded} class="full-size-spinner">
        <lightning-spinner class="spins" alternative-text="Creating..." variant="brand" size="large">
            <p>Please wait record is getting created...</p>
        </lightning-spinner>

    </div>
    <template if:false={isReviewApplicationForm}>

        <lightning-tabset class="slds-tabs_large merge-form" variant="standard" active-tab-value={activeTabValue} style="pointer-events: none;" >
             
            <!--<lightning-progress-bar value={progressValue} size="large"></lightning-progress-bar>-->
            <lightning-tab label={label.companyInformation} value="companyInformation" id="1"
                icon-name="utility:company" onactive={handleActive}>

                <div style="pointer-events:all;">
                    <template if:true={isCompanyInformationView}>
                        <lightning-accordion allow-multiple-sections-open active-section-name="companyInformation">

                            <lightning-accordion-section class="accordion-background-1 broker-form " name="companyInformation"
                                label={label.companyInformation}>
                                <div class="">

                                    <c-company-information entity-information-detail={entityVerificationData}
                                        onfcsverified={handleFCSVerified}
                                        state={brokerApplication.companyInformationWrapper.state}
                                        company-name={brokerApplication.companyInformationWrapper.fullLegalCompanyName}
                                        is-read-only={isReadOnly}
                                        company-value-selected={companySearched}
                                        company-information-detail={brokerApplication.companyInformationWrapper}
                                        oncompanyidtoretrievedata={handleRetrieveApplicationDataIfExist}
                                        ondealnametimestamp={handleDealNameOnEquipment}
                                        onfcscompanyrelateddata={handleCompanyRelatedDataAfterFcsVerification}
                                        onsoleproprietor={handleCompanyTypeSoleProprietor}
                                        oncompanyrelateddataifnotsearched={handleRetrieveApplicationDataIfExistingIdNotExist}>
                                    </c-company-information>
                                </div>
                            </lightning-accordion-section>

                            <lightning-accordion-section class="accordion-background-1 broker-form" name="Partner Information"
                                label={label.partnerInformation}>
                                    <c-partner-information onmultiplerowcallback={handleMultipleRowException}
                                        partner-details-list-information={brokerApplication.partnerInformationWrapper}>
                                    </c-partner-information> 
                            </lightning-accordion-section>

                            <lightning-accordion-section class="accordion-background-1 broker-form " name="Trade References"
                                label={label.tradeReferences}> 
                                    <c-trade-information onmultiplerowcallback={handleMultipleRowException}
                                        trade-reference-information-list-data={brokerApplication.tradeInformationWrapper}>
                                    </c-trade-information>
                            </lightning-accordion-section>

                            <lightning-accordion-section class="accordion-background-1 broker-form" name="Bank Information"
                                label={label.bankInformation}>
                                    <c-bank-references-information onmultiplerowcallback={handleMultipleRowException}
                                        bank-details-list-information={brokerApplication.bankInformationWrapper}>
                                    </c-bank-references-information>
                            </lightning-accordion-section>

                            <div
                                class="slds-p-top_medium slds-p-right_medium slds-p-bottom_medium slds-m-bottom_medium">
                                <div class="slds-float_right">
                                    <lightning-button variant="neutral" label={label.nextValue} disabled={isProceedToNext}
                                        onclick={handleSaveCompanyInformation} class="slds-m-left_x-small">
                                    </lightning-button>
                                </div>
                            </div>
                            <!--disabled={isProceedToNext}-->
                        </lightning-accordion>
                    </template></div>

            </lightning-tab>


            <lightning-tab label={label.equipmentInformation} title={label.equipmentInformation}
                value="Equipment_Information" icon-name="utility:record_create" id="2">
                <div style="pointer-events: all;">
                    <c-equipment-information
                        equipment-information-detail={brokerApplication.equipmentInformationWrapper}
                        deal-name-disabled={dealNameEquipment}>
                    </c-equipment-information>
                    <div class="slds-p-top_medium slds-p-right_medium slds-p-bottom_medium slds-m-bottom_medium">
                        <div class="slds-float_right">
                            <lightning-button variant="neutral" label={label.previousValue}
                                onclick={onBackToCompanyPage} class="slds-m-left_x-small"></lightning-button>
                            <lightning-button variant="neutral" label={label.nextValue}
                                onclick={onSubmittingEquipmentDetails} class="slds-m-left_x-small"></lightning-button>
                        </div>
                    </div>

                    
                </div>
            </lightning-tab>

            <lightning-tab label={label.guarantorInformation} id="3" value="Guarantor_Information"
                icon-name="utility:people">
                <div style="pointer-events: all;">
                    <c-guarantor-information
                        guarantor-details-information={brokerApplication.guarantorInformationWrapper}
                        onmultiplerowcallback={handleMultipleRowException}>
                    </c-guarantor-information>
                    <div class="slds-p-top_medium slds-p-right_medium slds-p-bottom_medium slds-m-bottom_medium">
                        <div class="slds-float_right">
                            <lightning-button variant="neutral" label={label.previousValue}
                                onclick={onBackToEquiqmentPage} class="slds-m-left_x-small">
                            </lightning-button>

                            <lightning-button variant="neutral" label={label.uploadDocuments}
                                onclick={handledDocumentUploadOpenModalOnGuarantor} class="slds-m-left_x-small">
                            </lightning-button>

                            <!--    <lightning-button variant="brand" label={label.review} onclick={onGuarantorReview}
                                class="slds-m-left_x-small">
                            </lightning-button>  -->
                        </div>
                    </div>
                </div>

            </lightning-tab>

        </lightning-tabset>
    </template>

    <template if:true={isReviewApplicationForm}>

        <c-view-application broker-application-form-details={reviewFormData} oncloseviewmodel={handleOnCloseReviewModel}
            onclickingreviewsubmit={onEqipmentPageSubmission} is-review-call={isReviewApplicationForm}>
        </c-view-application> 
    </template>

    <template if:true={isDocumentUploadModal}>

        <c-deal-document-Upload file-detail-data={brokerApplication.fileDetailData}
            onclosemodal={handleDocumentUploadCloseModal} ondocumentcalback={onDocumentUploadCallback}
            initiate-from={activeTabValue}>
        </c-deal-document-Upload>

    </template>

    <c-terms-and-condition-modal is-terms-and-condition-visible={isTermsandConditionVisible}
    header-message={label.termsAndConditions} fifth-header-title-content={label.yorAreApplyingFor}
    first-header-title-content={label.youTheCreditApplicant} sixth-header-title-content={label.toWhomItMayConcern}
    second-header-title-content={label.Textithasreceivedwrittenauthorization} 
    third-header-title-content={label.toHelptheGovernment}
    fourth-header-title-content={label.Textattachedhereto}
    ontermsandconditionrejected={onCloseTermsandCondition} ontermsandconditionaccepted={onSubmitTheForm}>
</c-terms-and-condition-modal>


    <c-dialog-modal title={multiDialogBox.title} confirm-label={multiDialogBox.okLabel}
        visible={multiDialogBox.isVisible} original-message={multiDialogBox.message} name="confirmModal"
        onmodalactionclick={handleErrorModalClick}>
        <div slot="dynamicMessage">
            <div class="slds-text-heading_medium">
                <h1>{multiDialogBox.message}</h1>
            </div>
        </div>
    </c-dialog-modal>


    <c-application-popup-section onpopupclose={navigateToHome} is-popup-visible={submit.isSubmitted}
        confirmation-message={submit.SubmittedApplicationId} headermessage="Success" 
        custom-button-label={label.close} is-detail-visible={submit.onAppSubmit}>
    </c-application-popup-section>
    <c-error-modal is-error-visible={errorDetails.isErrorVisible} header-message={errorDetails.headerMessage}
        error-content={errorDetails.errorContent} onerrordisplay={handleErrorPopup}></c-error-modal>

        <template if:true={isEquipmentInformationModalOpen}>
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                    aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">

                        <header class="slds-modal__header header-style-container">
                                <button class="slds-button close-btn slds-button_icon slds-modal__close slds-button_icon-inverse"
                                    title="Close" name="cancel" onclick={closeEquipmentInformationModal}>
                                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                                        size="small"></lightning-icon>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate"><strong>Crestmark Vendor</strong></h2>
                        </header>

                        <div class="slds-modal__content slds-p-around_medium border-left-blue border-right-blue" id="modal-content-id-1">
                              <strong>{label.equipmentPopup}</strong> 
                        </div>

                        <footer class="slds-modal__footer  border-left-blue border-right-blue border-bottom-blue no-top-border">
                            <lightning-button variant="neutral" label={label.yes}
                                onclick={submitEquipmentInformationModal} class="slds-m-left_x-small">
                            </lightning-button>

                            <lightning-button variant="neutral" label={label.no}
                                onclick={handledDocumentUploadOpenModalOnEquipmentPopup}
                                class="slds-m-left_x-small">
                            </lightning-button>

                            <!--       <lightning-button variant="brand-outline" label={label.review}
                                onclick={onEqipmentReview} class="slds-m-left_x-small">
                            </lightning-button>-->
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </template>

</template>