div.container-background {
    background-color: #f3f3f3;
}

div.inner-container {
    background-color: #ffffff;
}

header.header-style-container {
    background-color: rgba(0, 62, 126, 1)!important;
    color: white!important;
    text-align: left!important;
}

button.close-btn {
    top: 20%;
    right: 0.5rem;
}

.border-left-blue {
    border-left: 2px solid  rgba(0, 62, 126, 1)!important;
}

.border-right-blue {
    border-right: 2px solid  rgba(0, 62, 126, 1)!important;
}

.border-bottom-blue {
    border-bottom: 2px solid  rgba(0, 62, 126, 1)!important;
}

.no-top-border {
    border-top: 0!important;
}