<template>
    <lightning-card>
        <template if:true={isProcessed}>
            <div class="slds-m-around_medium">
                <iframe width="800" height="400" src={fullUrl} onerror={showloading}></iframe>
            </div>
        </template>
    </lightning-card>
</template>