<template>
		<template for:each={bankInformationList} for:item="item" for:index="index">
			<lightning-card key={item.rowId}>
				<div style="background: #f3f3f3;padding-bottom: 30px!important;
					padding-top: 20px!important;
					padding-left: 10px!important;
					padding-right: 10px!important;">
					<div slot="title">
						<div class=" slds-m-horizontal_medium">
							<div class="slds-clearfix bottom-border">
								<div class="count-container">
									<div class="count-text">{item.count}</div>
								</div>
								<div class="slds-m-top_small slds-m-left_small multi-form-title"> Bank Information </div>
								<div class="slds-float_right">
									<lightning-button-icon class="action-btn success" icon-name="utility:add" access-key={item.rowId} id={item.rowId} alternative-text={label.addRow} size="medium" title={label.addRow} onclick={createNewRow} variant='success'> </lightning-button-icon>
									<template if:true={item.isDeleteRequire}> <span class="slds-m-horizontal_x-small"></span> <span id={item.rowId} onclick={onDeleteRow} data-row-id={item.rowId}>
												<lightning-button-icon class="action-btn error" icon-name="utility:delete" access-key={item.id}
													id={index} alternative-text={label.deleteRow} size="x-small" title={label.deleteRow}
													data-index={item.rowId} variant='error'>
												</lightning-button-icon>
											</span> </template>
									<template if:false={item.isDeleteRequire}>
										<template if:false={item.isDisable}> <span class="slds-m-horizontal_x-small"></span>
											<lightning-button-icon class="action-btn error" icon-name="utility:close" size="x-small" onclick={onClearRows} variant='error' alternative-text={label.clearData} title={label.clearData}> </lightning-button-icon> <strong class="slds-m-left--x-small"></strong> </template>
									</template>
								</div>
							</div>
						</div>
					</div>
					<div class="slds-m-horizontal_medium slds-body-container">
						<div class="slds-grid slds-wrap slds-m-top_small">
							<div class="slds-col  slds-size_1-of-2 ">
								<div class="slds-grid slds-wrap ">
									<div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<lightning-input type="Text" label={label.bankName} data-id="bankName" value={item.bankName} oncommit={onHandleChange} data-index={item.rowId} required={item.isRequired} disabled={item.isDisable} placeholder={label.enterTheValue}> </lightning-input>
										</div>
									</div>
									<div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<lightning-input type="Text" label={label.bankAddress} data-id="addressLine1" value={item.addressLine1} oncommit={onHandleChange} data-index={item.rowId} required={item.isRequired} disabled={item.isDisable} placeholder={label.enterTheValue}> </lightning-input>
										</div>
									</div>
								</div>
							</div>
							<div class="slds-col slds-size_1-of-2 ">
								<div class="slds-grid slds-wrap">
									<div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<template if:true={item.isCreatedByMe}>
											    <lightning-input type="Text" maxlength="20" label={label.accountNumber} data-id="accountNumber" value={item.accountNumber} oncommit={onHandleChange} data-index={item.rowId} required={item.isRequired} disabled={item.isDisable} placeholder={label.enterTheValue}> </lightning-input>
											</template>
											<template if:false={item.isCreatedByMe}>
											    <lightning-input type="Text" label={label.accountNumber} data-id="maskedAccountNumber" value={item.maskedAccountNumber} oncommit={onHandleChange} data-index={item.rowId} required={item.isRequired} disabled={item.isDisable} placeholder={label.enterTheValue}> </lightning-input>
										    </template>

										</div>
									</div>
									<div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class=" slds-m-horizontal_medium">
											<lightning-input type="Text" label={label.bankContactPerson} data-id="bankContactPerson" value={item.bankContactPerson} oncommit={onHandleChange} data-index={item.rowId} required={item.isRequired} disabled={item.isDisable} placeholder={label.enterTheValue}> </lightning-input>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="slds-grid slds-wrap ">
							<div class="slds-col  slds-size_1-of-2  ">
								<div class="slds-grid slds-wrap ">
									<div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<lightning-combobox options={countryControllingValues} label={label.country} disabled={item.isDisable} data-id="country" value={item.country} data-index={item.rowId} onchange={onHandleChange} required={item.isRequired}> </lightning-combobox>
										</div>
									</div>
									<div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<c-dynamic-select-component custom-options={defaultCountryAndStateData} selected-value={item.state} custom-label={label.state} dependent-value={item.country} key-param={dependentPickListKey.state} current-index={item.rowId} data-id="state" onselectdependentpicklist={handleSelectDependentpicklist} is-disable={item.isDisable} is-required={item.isRequired}> </c-dynamic-select-component>
										</div>
									</div>
								</div>
							</div>
							<div class="slds-col slds-size_1-of-2 ">
								<div class="slds-grid slds-wrap ">
									<div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<lightning-input type="Text" label={label.city} data-id="city" value={item.city} oncommit={onHandleChange} data-index={item.rowId} required={item.isRequired} disabled={item.isDisable} placeholder={label.enterTheValue}> </lightning-input>
										</div>
									</div>
									<div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class=" slds-m-horizontal_medium">
											<lightning-input type="Text" label={label.zip} data-id="zip" value={item.zip} oncommit={onHandleChange} data-index={item.rowId} required={item.isRequired} disabled={item.isDisable} placeholder={label.enterTheValue} maxlength="20"> </lightning-input>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="slds-grid slds-wrap slds-m-bottom_small">
							<div class="slds-col slds-size_1-of-2 ">
								<div class="slds-grid slds-wrap slds-p-bottom_x-small">
									<div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<lightning-input type="Text" label={label.phoneNumber} data-id="phoneNumber" onfocus={handleOnFocus} value={item.phoneNumber} onblur={onHandleChange} data-index={item.rowId} onkeyup={handleOnKeyUp} required={item.isRequired} disabled={item.isDisable} minlength="10" maxlength="10" placeholder={label.enterTheValue}> </lightning-input>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</lightning-card>
		</template>
		<c-error-modal is-error-visible={errorDetails.isErrorVisible} header-message={errorDetails.headerMessage}
        error-content={errorDetails.errorContent} onerrordisplay={handleErrorPopup}></c-error-modal>
	</template>