<template>
    <c-reference-datatable-col reference-value={value} reference-data={typeAttributes.referenceData}
        reference-key={typeAttributes.referenceKey}>
    </c-reference-datatable-col>
</template>