<template>
    <div>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-modal="true" id="fcs-information-modal-dialog"
            class={modalDialogSize}>
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="close-btn slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" name="cancel" onclick={handleClick}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                            size="small">
                        </lightning-icon>
                        <span class="slds-assistive-text">{businessInfoLabel.closeLabel}</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                        <strong>{businessInfoLabel.entityInformationLabel}</strong>
                    </h2>
                </header>

                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium border-left-blue border-right-blue" id="fcs-entity-inforamtion">
                    <ul class="slds-grid slds-wrap slds-grid_pull-padded">
                        <template if:true={listOfEntity} for:each={listOfEntity} for:item="info">
                            <li class={cardLayoutBlockModel} key={info.entityID}>
                                <div class="slds-card_boundary slds-m-around_large select-container"
                                    data-div-selection={info.entityID}>
                                    <div data-entity-id={info.entityID} onclick={handleSelectChange}>
                                        <lightning-card variant="narrow" icon-name="utility:company"
                                            data-target-id={info.entityID}>
                                            <h1 slot="title" title={info.companyName}>
                                                {info.companyName}
                                            </h1>

                                            <lightning-input type="checkbox-button" data-checkbox-id="selectCheckBox"
                                                data-entity-id={info.entityID} name="isSelect" value={info.isSelected}
                                                checked={info.isSelected} onchange={handleSelectChange} slot="actions">
                                            </lightning-input>

                                            <div class="slds-p-horizontal_small">
                                                <div class="slds-form" role="list">
                                                    <div class="slds-form__row">
                                                        <div class="slds-form__item" role="listitem">
                                                            <div
                                                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent slds-form-element_2-col">
                                                                <span
                                                                    class="slds-form-element__label">{businessInfoLabel.entityIdLabel}</span>
                                                                <div class="slds-form-element__control">
                                                                    <div
                                                                        class="slds-form-element__static slds-text-longform">
                                                                        {info.entityID}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="slds-form__row">
                                                        <div class="slds-form__item" role="listitem">
                                                            <div
                                                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent slds-form-element_2-col">
                                                                <span
                                                                    class="slds-form-element__label">{businessInfoLabel.entityStandingLabel}</span>
                                                                <div class="slds-form-element__control">
                                                                    <div
                                                                        class="slds-form-element__static slds-text-longform">
                                                                        {info.entityStanding}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="slds-form__row">
                                                        <div class="slds-form__item" role="listitem">
                                                            <div
                                                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent slds-form-element_2-col">
                                                                <span
                                                                    class="slds-form-element__label">{businessInfoLabel.entityTypeLabel}</span>
                                                                <div class="slds-form-element__control">
                                                                    <div
                                                                        class="slds-form-element__static slds-text-longform">
                                                                        {info.entityType}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="slds-form__row">
                                                        <div class="slds-form__item" role="listitem">
                                                            <div
                                                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent slds-form-element_2-col">
                                                                <span
                                                                    class="slds-form-element__label">{businessInfoLabel.nameTypeLabel}</span>
                                                                <div class="slds-form-element__control">
                                                                    <div
                                                                        class="slds-form-element__static slds-text-longform">
                                                                        {info.nameType}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="slds-form__row">
                                                        <div class="slds-form__item" role="listitem">
                                                            <div
                                                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent slds-form-element_2-col">
                                                                <span
                                                                    class="slds-form-element__label">{businessInfoLabel.stateLabel}</span>
                                                                <div class="slds-form-element__control">
                                                                    <div
                                                                        class="slds-form-element__static slds-text-longform">
                                                                        {info.state}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </lightning-card>
                                    </div>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>

                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer border-left-blue border-right-blue border-bottom-blue no-top-border">
                    <lightning-button variant="Neutral" name="cancel" label={businessInfoLabel.cancelLabel}
                        title={businessInfoLabel.cancelLabel} onclick={handleClick} class="slds-m-left_x-small">
                    </lightning-button>

                    <lightning-button variant="Success" name="validate" label="Validate" title="Validate"
                        disabled={isBusinessInfoSelected} onclick={handleClick} class="slds-m-left_x-small">
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</template>