div.select-container {
    cursor: pointer;
    box-shadow: 5px 5px #edf5d0cc;
    margin-left: 0!important;
    margin-right: 0!important;
    margin-top: 0!important;
}

div.slds-card_boundary.slds-m-around_large.select-container:hover {
    border: 2px solid #378456;
}

div.selected-business-info {
    border: 2px solid #378456;
}

.slds-modal__header {
    background-color: var(--sds-c-modal-header-color-background, #003e7e);
    color: var(--sds-c-badge-color-text, white);
    /* Styles not pertinent have been omitted */
  }

  .slds-modal__footer
{
    border-top: 0px;
}
.slds-text-heading_medium{
    text-align: left!important;
  }

  button.close-btn {
    top: 20%;
    right: 0.5rem;
  }
  
  .border-left-blue {
    border-left: 2px solid  rgba(0, 62, 126, 1)!important;
  }
  
  .border-right-blue {
    border-right: 2px solid  rgba(0, 62, 126, 1)!important;
  }
  
  .border-bottom-blue {
    border-bottom: 2px solid  rgba(0, 62, 126, 1)!important;
  }
  
  .no-top-border {
    border-top: 0!important;
  }