<template>
        <div class="container-style-tag" lwc:dom="manual"></div>
        <template if:false={isViewModalOpen}>
            <div class="accordion-background">
                <!-- Modal/Popup Box LWC starts here -->
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-describedby="modal-content-id-1" aria-modal="true" class="slds-modal slds-fade-in-open slds-modal_large">
                    <div class="slds-modal__container">

                        <header class="slds-modal__header header-style-container">
                            <button class="close-btn slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" onclick={handleOnCloseModel} title="Close" name="cancel">
                                <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon> <span class="slds-assistive-text"></span> </button>
                            <h2 id="modal-heading-01" class="close-btn slds-text-heading_medium slds-hyphenate">
                                <strong>{label.DocumentUpload}</strong></h2> </header>  
                        
                            <div class="slds-modal__content slds-p-around_medium border-right-blue border-left-blue" id="cvf-document-upload" style="height:300px;">
                            <!--   <lightning-accordion allow-multiple-sections-open active-section-name="Document Upload">
                                <lightning-accordion-section class="accordion-background" name="Document Upload"
                                    label={label.DocumentUpload}>-->
                                <div class="slds-p-horizontal_small">
                                    <div class="slds-grid slds-wrap">
                                        <div class="slds-col slds-size_1-of-1  slds-medium-size_4-of-12 slds-large-size_4-of-12">
                                            <lightning-combobox options={fileTypeOptions} value={fileParam.type} label={label.Type} class="slds-m-horizontal_small combo-scroll" role="listbox" dropdown-alignment="auto"  onchange={handleOnTypeChange} required> </lightning-combobox>
                                        </div>
                                        <div class="slds-col slds-size_1-of-1  slds-medium-size_4-of-12 slds-large-size_4-of-12 slds-p-right_x-small">
                                            <lightning-input type="text"  required={descriptionRequired} name="File Description" label={label.Description} class="slds-m-horizontal_small" onchange={handleOnDescriptionChange} value={fileParam.description} placeholder="File Description..." field-level-help={label.allowedFormats}> </lightning-input>
                                        </div>
                                        <div class="slds-col slds-size_1-of-1  slds-medium-size_4-of-12 slds-large-size_4-of-12">
                                            <lightning-file-upload name="fileUploader" id="xyz" label="File Upload" class="slds-m-vertical_small" accept={acceptedFormats} onuploadfinished={handleOnUploadFinished} disabled={isDisable}> </lightning-file-upload>
                                        </div>
                                    </div>
                                    <div class="container slds-m-around_small slds-var-p-bottom_medium">
                                        <div style="width: auto;">
                                            <div class="slds-border_top slds-table_bordered slds-table_striped slds-border_left" if:true={data} style="box-shadow: 2px 2px 2px 2px #dddddd;">
                                                <template if:true={isDataAvailable}>
                                                    <lightning-datatable wrap-text-max-lines="100" data={data} columns={columns} key-field="id" hide-checkbox-column="true" class="slds-max-medium-table_stacked" onrowaction={handleOnRowAction}> </lightning-datatable>
                                                </template>
                                                <template if:false={isDataAvailable}>
                                                    <div class='slds-box'>
                                                        No Document Uploaded!!
                                                    </div>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
 
                            <!--      </lightning-accordion-section>
                            </lightning-accordion>-->
                        </div>
                        <!-- Modal/Popup Box LWC footer starts here -->
                        <footer class="slds-modal__footer border-right-blue border-left-blue border-bottom-blue no-top-border">
                            <lightning-button variant="neutral" label={label.close} onclick={handleOnCloseModel} class="slds-m-left_x-small"> </lightning-button>
                            <lightning-button variant="success" label={label.review} onclick={onEqipmentReview} class="slds-m-left_x-small"> </lightning-button>
                            <!--    <lightning-button variant="brand" name="Submit" label="Submit" onclick={handleOnCloseModel} class="slds-m-left_x-small">
                </lightning-button>        -->
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </div>
        </template>
        <template if:true={isViewModalOpen}>
            <div class="container-style-tag" lwc:dom="manual"></div>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" class="slds-modal slds-fade-in-open slds-modal_large">
                <div class="slds-modal__container">
                    <header class="slds-modal__header header-style-container">
                        <button class="close-btn slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close" variant="inverse" size="small"> </lightning-icon> <span class="slds-assistive-text">Close</span> </button>
                        <h2 id="modal-heading-04" class="slds-text-heading_medium slds-hyphenate">
                            Document View</h2> </header>
                    <div class="slds-modal__content slds-p-around_medium border-right-blue border-left-blue" id="modal-content-id-1">
                        <center>
                            <c-preview-content-file content-version-id={versionId} content-document-id={documentId} content-type={fileExtension} portal-url={portalURL}> </c-preview-content-file>
                        </center>
                    </div>
                    <footer class="slds-modal__footer border-right-blue border-left-blue border-bottom-blue no-top-border">
                        <lightning-button label={label.close} variant="neutral" onclick={closeModal}> </lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
            </div>
        </template>
    </template>