<apex:page sidebar="false" controller="CrestMarkBrokerLoginController" showheader="false" lightningStylesheets="true">
            
  
    
    <apex:slds ></apex:slds>
    <apex:form >

        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>{! $Label.Text_CrestMark_Vendor_Finance}</title>
            <style>
                .header-content {
                    background: #36a0fe;
                    color: white;
                    border: 1px white solid;
                	font-size: x-large!important;
                }
                
                .header-large {
                	font-size: x-large!important;
                }
                
                .margin-small {
                	margin-left: 1px!important;
                }
                
                .footer-content {
                    background: #36a0fe;
                    color: white;
                    border: 1px white solid;
                }

                .right-img-content {
                   <!-- background-image: url('https://www.crestmark.com/wp-content/uploads/2019/04/CEF_Web-Slider_OfficeEquipment_1920x341_041719.jpg');-->
                    background-image:url({!URLFOR($Resource.CrestMark_OfficeEquiqment)});
                    background-position: center top;
                    width: 100%;
                    float: left;
                    display: block;
                    height: 200Px;
                }
                
                .border-width {
                    border-width: 6px!important;
                    padding-bottom: 8px!important;
                    border-bottom-style: double!important;
                }

                .right-img-content img {
                    max-width: 100%;
                    height: 200px!important;
                }

                .right-img-content a {
                    margin: 0 15%;
                }

                .header-color {
                    color: #36a0fe;
                }
            </style>
        </head>

        <body class="slds-scope">
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3">
                    <div class="slds-grid">
                        <div class="slds-col">
                            <div class="slds-clearfix">
                                <div class="slds-text-align_center">
                                    <img src="{!$Resource.CrestMark_Logo}"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="slds-grid slds-wrap slds-align_absolute-center">
                            <div class="slds-form slds-m-around_xx-large" style="width: 300px;">
                                <div class="slds-box">
                                    <apex:messages styleClass="page-messages slds-text-color_error"/>
                                    <div class="slds-form-element slds-form-element_stacked">
                                        <label class="slds-form-element__label" for="username">{! $Label.Text_Username}</label>
                                        <div class="slds-form-element__control">
                                            <apex:inputText value="{!username}" html-placeholder="Username" styleClass="slds-input" />
                                        </div>
                                    </div>
                                    <div class="slds-form-element slds-form-element_stacked">
                                        <label class="slds-form-element__label" for="password">{! $Label.Text_Password}</label>
                                        <div class="slds-form-element__control">
                                            <apex:inputSecret value="{!password}" html-placeholder="Password" styleClass="slds-input" />
                                        </div>
                                    </div>

                                    <div class="slds-clearfix slds-m-vertical_large">
                                        <div class="slds-float_left">
                                            <a class="" href="{!$Site.CurrentSiteUrl}secur/forgotpassword.jsp?locale=us">
                                                <strong> {! $Label.Text_Forgot_Password} </strong>
                                            </a>
                                        </div>
                                        <div class="slds-float_right">
                                            <apex:commandbutton value="Login" action="{!doLogin}" styleClass="slds-button slds-button_brand" />
                                        </div>
                                    </div>
                                </div>


                            </div>
                    </div>
                </div>
                
                <apex:outputPanel layout="inline" rendered="{!!isMobile}" styleClass="slds-col slds-size_1-of-1 slds-large-size_2-of-3"> 
                
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col header-content">
                            <div class="slds-text-heading_medium slds-align_absolute-center header-large" ><b>Crestmark Vendor Finance provides innovative equipment financing.</b>
                            </div>
                        </div>
                    </div>

                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-p-horizontal_none">
                            <ul>
                                <li class="right-img-content margin-small ">
                                    <a href="#">
                                     <!--   <img src="{!$Resource.CrestMark_OfficeType_Overlay}" alt="" draggable="false" />-->
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3">
                            <div class="slds-text-heading_small slds-border_bottom header-color slds-m-vertical_x-small border-width">
                                Our Expertise is in Creating Customized Solutions for Specific Needs
                            </div>
                            <div  class="slds-m-right_small">
                                <p>
                                    Learn more about the benefits of a full-service finance program created and managed by our best-in-class professional team.
                                    Use our easy, online application for funding up to $250,000 and receive a credit decision
                                    within 24 business hours. Larger transactions are also available, as are bundling options
                                    that include installation, freight and taxes for one monthly payment. Then simplify your
                                    account oversight with state-of-the-art technology, e-Documents, online deal notifications
                                    and account tracking.

                                </p>

                            </div>
                        </div>

                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3">
                            <div class="slds-text-heading_small slds-border_bottom header-color slds-m-vertical_x-small border-width">
                                As a Direct Lender We Provide Real Finance Solutions Nationwide
                            </div>
                            <div>
                                <p>
                                    As a division of a regulated bank, we’re a dependable direct lender, and can provide you the financing you need quickly.
                                    <br/>
                                    <ui>
                                        <li>Operating Leases (FMV)</li>
                                        <li>Capital Leases ($1 Buyout)</li>
                                        <li>Equipment Finance Agreements</li>
                                        <li>Trac Leases</li>
                                        <li>Working Capital</li>
                                    </ui>
                                </p>

                            </div>
                        </div>

                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3">
                            <div class="slds-text-heading_small slds-border_bottom header-color slds-m-vertical_x-small border-width">
                                We Finance Most Commercial Equipment Across Diverse Industries
                            </div>
                            <div>
                                <p>
                                    <li>Medical Equipment</li>
                                    <li>Office Equipment</li>
                                    <li>Fitness Equipment</li>
                                    <li>Machinery and Machine Tools</li>
                                    <li>Information Technology</li>
                                    <li>Commercial Vehicles</li>
                                    <li>Construction</li>
                                    <li>Trade Service</li>
                                    <li>Food Processing</li>
                                    <li>HVAC</li>
                                    <li>LED Lighting Retrofit</li>
                                    <li>Dental Equipment</li>
                                    <li>Industrial Equipment</li>
                                    <li><i>Storage</i></li>
                                    <li><i>Don’t see it – Ask us!</i></li>
                                </p>

                            </div>
                        </div>
                    </div>
                
         </apex:outputPanel>
            </div>

            <div class="slds-grid slds-wrap  slds-docked-form-footer slds-p-around_none slds-m-around_none">
                    <div class="slds-col footer-content">
                        <div class="slds-align_absolute-center">© 2020 Crestmark , a division of MetaBank®, N.A. All rights reserved.</div>
                    </div>
            </div>
        </body>
        
    </apex:form>
</apex:page>