<apex:page standardController="Lead" lightningStylesheets="true">

    <style>
        .lwc-container-height {
            height: 20em;
        }
    </style>

    <apex:includeLightning />
    <c:spinner spinner_color="white" />

    <c:EntityVerificationComponent exportObjectName="$FCS" outContainerId="{!$Component.LightningContainer}" />
    <apex:outputPanel id="LightningContainer" layout="block" styleClass="lwc-container-height" />

    <script> 
        window.addEventListener("DOMContentLoaded",
            function () {
                showSpinner(true);
                invokeFcsEntityValidation();
            });

        var onCompleteAction = function () {
            showSpinner(false);
        }

        var backToDetailHandler = function () {
            alert("Redirecting to detail page...");
            window.parent.location.href = "/{!lead.Id}";
        }

        function invokeFcsEntityValidation() {
            const config = {
                businessName: '{!lead.company}',
                stateCode: '{!lead.state}',
                recordId: '{!lead.Id}',
                invocationFrom: 'Lead',
                backToDetailCallback: backToDetailHandler
            };
            $FCS.loadEntityVerification(config, onCompleteAction);
        }

    </script>


</apex:page>