<template>
    <div if:true={dataTableColumn}>
      
      <c-custom-data-table table-label={label.myApplication} records={tableData} table-columns={dataTableColumn} key-field="id" onsearchopportunity={handleSearchKey} onnumberofrecordsonpage={handleRecordsOnPage} onsortingdeals={handleSorting} s-object={opportunityObject} options={pageSizeOptions} page-size={pageSize} onpaginateaction={handlePaginationAction} table-action-column={actionColumn} offset-value={offsetValue} is-last-record={isLastRecord} onsearchbydate={handleSearchByDate}>
     
        <div slot="actions" >
          <div class="addPadding">
            <lightning-button label={label.newApplication} title={label.newApplication} onclick={handleClick} class="" name="newApplication" icon-name="action:new_note"></lightning-button>
        </div>
      </div>
      </c-custom-data-table>
    
    </div>
    <c-error-modal is-error-visible={errorDetails.isErrorVisible} header-message={errorDetails.headerMessage} error-content={errorDetails.errorContent} onerrordisplay={handleErrorPopup}></c-error-modal>
    <div if:true={displaySpinner}>
      <lightning-spinner variant="brand" alternative-text="Loading Cases" size="medium"> </lightning-spinner>
    </div>
  </template>