<template>
    <lightning-card>
        <div style="background: #f3f3f3;">
            <div class="slds-clearfix equipment-header">
                <div style="float: left;font-size: 15px;font-weight: 700;"> Equipment Details </div>
            </div>
            <div class="slds-m-horizontal_medium slds-m-top_small">
                <div class="slds-grid slds-wrap slds-p-bottom_x-large">
                    <div class="slds-col  slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap ">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_12-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <div class="slds-form-element">
                                        <span class="slds-form-element__label">{label.dealName}</span>
                                        <div class="slds-form-element__control ">
                                            <span class="slds-form-element__static">{dealNameDisabled}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--    <div class="slds-col slds-size_1-of-2 ">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                    <div class=" slds-m-horizontal_medium">
                                        
                                    </div>
                                </div>
                                <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                    <div class="slds-m-horizontal_medium">
    
                                    </div>
                                </div>
                            </div>
                        </div> -->
                </div>
                <div class="slds-grid slds-wrap ">
                    <div class="slds-col  slds-size_1-of-2  ">
                        <div class="slds-grid slds-wrap ">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class=" slds-m-horizontal_medium">
                                    <lightning-input type="text" label={label.supplierName} data-id="supplierName"
                                        value={equipmentDetail.supplierName} oncommit={handleOnCommit}
                                        disabled={isReviewEnabled} maxlength="75" placeholder={label.enterTheValue}>
                                    </lightning-input>

                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class=" slds-m-horizontal_medium">
                                    <lightning-input type="text" label={label.contactName} data-id="contactName"
                                        value={equipmentDetail.contactName} disabled={isReviewEnabled}
                                        oncommit={handleOnCommit} maxlength="200" placeholder={label.enterTheValue}>
                                    </lightning-input>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap ">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-combobox label={label.leaseTermMonths} data-id="leaseTermMonths"
                                        options={leaseTermOptions} disabled={isReviewEnabled}
                                        value={equipmentDetail.leaseTermMonths} onchange={handleOnCommit}>
                                    </lightning-combobox>

                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class=" slds-m-horizontal_medium">
                                    <lightning-combobox data-id="endOfLeasePurchaseOption" disabled={isReviewEnabled}
                                        value={equipmentDetail.endOfLeasePurchaseOption} options={leaseTypeOptions}
                                        label={label.endOfLeasePurchaseOption} onchange={handleOnCommit}>
                                    </lightning-combobox>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-grid slds-wrap ">
                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap slds-p-bottom_x-small">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-combobox options={descriptionOptions} label={label.equipmentDescription}
                                        disabled={isReviewEnabled} data-id="equipmentDescription"
                                        value={equipmentDetail.equipmentDescription} onchange={handleOnCommit} required>
                                    </lightning-combobox>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-input type="number" label={label.estimatedEquipmentCost}
                                        disabled={isReviewEnabled} data-id="estimatedEquipmentCost"
                                        value={equipmentDetail.estimatedEquipmentCost} formatter="number" step="0.01"
                                        oncommit={handleOnCommit} max="9999999999999999.99"
                                        placeholder={label.enterTheValue}
                                        message-when-range-overflow={label.pleaseEnterCorrectEquipmentCost}
                                        maxlength="19"
                                        message-when-step-mismatch={label.pleaseEnterCostUptoTwoDecimalPlaces} required>
                                    </lightning-input>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap ">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <label class="slds-form-element__label">{label.equipmentLocation}</label>
                                    <lightning-input type="checkbox" data-id="equipmentLocation"
                                        onchange={handleOnCommit} disabled={isReviewEnabled}
                                        value={equipmentDetail.equipmentLocation}> </lightning-input>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div if:true={isForOtherPurchaseOption} class=" slds-m-horizontal_medium">
                                    <lightning-input type="text" label={label.other} data-id="otherText"
                                        disabled={isReviewEnabled} value={equipmentDetail.otherText}
                                        oncommit={handleOnCommit} placeholder={label.enterTheValue} required>
                                    </lightning-input>
                                </div>
                                <div if:true={isForPercentTotalCashPricePurchaseOption}
                                    class=" slds-m-horizontal_medium">
                                    <lightning-input type="number" label={label.percentOfTotalCashPrice}
                                        formatter="number" step="0.01" disabled={isReviewEnabled} max="100"
                                        maxlength="5" data-id="totalCashPrice" value={equipmentDetail.totalCashPrice}
                                        oncommit={handleOnCommit} required placeholder={label.enterTheValue}>
                                    </lightning-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div if:true={isEquipmentInfoCheck}>
                <div class="slds-grid slds-wrap slds-p-top_x-large">
                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap slds-p-bottom_x-small">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12"
                                if:true={isEquipmentInfoCheck}>
                                <div class=" slds-m-horizontal_medium">
                                    <lightning-input type="text" label={label.otherStreetAddress}
                                        data-id="otherStreetAddress" value={equipmentDetail.otherStreetAddress}
                                        oncommit={handleOnCommit} disabled={isReviewEnabled}
                                        placeholder={label.enterTheValue}>
                                    </lightning-input>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class=" slds-m-horizontal_medium" if:true={isEquipmentInfoCheck}>
                                    <lightning-combobox label={label.otherCounty} data-id="otherCounty"
                                        options={countryControllingValues} value={equipmentDetail.otherCounty}
                                        disabled={isReviewEnabled} onchange={handleOnCommit}> </lightning-combobox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap ">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12"
                                if:true={isEquipmentInfoCheck}>
                                <div class="slds-m-horizontal_medium">
                                    <c-dynamic-select-component custom-options={defaultCountryAndStateData}
                                        selected-value={equipmentDetail.otherState} custom-label={label.otherState}
                                        dependent-value={equipmentDetail.otherCounty}
                                        key-param={dependentPickListKey.otherState} data-id="otherState"
                                        onselectdependentpicklist={handleSelectDependentpicklist}>
                                    </c-dynamic-select-component>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12"
                                if:true={isEquipmentInfoCheck}>
                                <div class="slds-m-horizontal_medium">
                                    <lightning-input type="text" label={label.otherCity} data-id="otherCity"
                                        value={equipmentDetail.otherCity} oncommit={handleOnCommit}
                                        disabled={isReviewEnabled} placeholder={label.enterTheValue}> </lightning-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-grid slds-wrap " if:true={isEquipmentInfoCheck}>
                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap slds-p-bottom_x-small">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12"
                                if:true={isEquipmentInfoCheck}>
                                <div class=" slds-m-horizontal_medium">
                                    <lightning-input type="Text" maxlength=10 label={label.otherZip}
                                        disabled={isReviewEnabled} data-id="otherZip" value={equipmentDetail.otherZip}
                                        oncommit={handleOnCommit} placeholder={label.enterTheValue}> </lightning-input>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                <div class="slds-grid slds-wrap slds-p-top_x-large">
                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap slds-p-bottom_x-small">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_12-of-12">
                                <div class=" slds-m-horizontal_medium tallTextArea" >
                                    <lightning-textarea name={label.note} label={label.note}
                                        data-id="note" placeholder="type here..." value={equipmentDetail.note}
                                        onchange={handleOnCommit} maxlength="5000" ></lightning-textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap ">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-combobox options={documentTypeOptions} label={label.documentationType}
                                        disabled={isReviewEnabled} data-id="documentationType"
                                        value={equipmentDetail.documentationType} onchange={handleOnCommit} required>
                                    </lightning-combobox>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </lightning-card>
</template>