.THIS input.slds-input{
    height: 45px!important;
}


div.equipment-header {
    background-color: #378456!important;
    color: white!important;
    font-weight: 700!important;
    margin-bottom: 0!important;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
     margin-top: -24px;
}