<template>

    <lightning-card>
        <div style="background: #f3f3f3;">
            <div class="slds-m-horizontal_x-large">
                <div class="slds-clearfix"
                    style="margin-top:-24px;padding-top:1%;padding-bottom:1%; border-bottom:2px solid #cccccc;">

                    <!--<span style="height: 25px;width: 25px;display: inline-block;float:left;color: black;">
                   <div style="padding:3px 0px 3px 8px;">
                    <lightning-icon icon-name="utility:edit_form" size="small" title="">
                    </lightning-icon>
                </div>  
            </span>-->

                    <div style="margin-left: 17px;float: left;font-size: 15px;font-weight: 600;color: black;"
                        class="slds-m-top_x-small">
                        Application Form
                    </div>
                    <div class="slds-float_right " style="text-align-last: end;">
                        <lightning-button variant="neutral" label={validate_button_label}
                            onclick={onCompanyInformationValidation} class="slds-m-right_small"
                            disabled={isValidateButtonEnable}>
                        </lightning-button>


                        <lightning-button onclick={onComapnyClear} variant="neutral" label="Clear"
                            disabled={makeReadOnlyAfterEntityVerificationClear} title="Clear Application Form">
                        </lightning-button>
                    </div>

                </div>

            </div>


            <div class="slds-m-horizontal_medium">
                <div class="slds-grid slds-wrap slds-m-top_small slds-p-bottom_x-large">

                    <div class="slds-col  slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap ">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <template if:true={companyDetail.selectedName}>
                                        <label class="slds-form-element__label">Company Search</label>
                                        <lightning-helptext
                                            content={label.companyCodeToolTipMessage}
                                            class="help-text-container"></lightning-helptext>
                                        <div id="lookup-pill" class="slds-pill-container" style={pillContainerStyle}>
                                            <lightning-pill class="pillSize slds-pill_bare"
                                                label={companyDetail.selectedName} name={companyDetail.selectedName}
                                                onremove={clearFormFromCustomLookup} href={href}>
                                                <lightning-icon icon-name="standard:account" alternative-text="acc">
                                                </lightning-icon>
                                            </lightning-pill>
                                        </div>
                                    </template>
                                    <template if:false={companyDetail.selectedName}>
                                        <c-custom-lookup obj-name="Account" search-label={label.companySearch}
                                            search-placeholder={label.companySearch} icon-name="standard:account"
                                            help-text-value={label.companyCodeToolTipMessage}
                                            disable-company={makeReadOnlyAfterEntityVerification}
                                            onlookupselected={handleAccountSelection}
                                            onclearformdata={clearFormFromCustomLookup} search-term={searchKey}>
                                        </c-custom-lookup>
                                        <template if:true={isCompanyCodeError}>
                                            <div style="color:red">{companyDetail.errorMessage}</div>
                                        </template>
                                    </template>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-input type="Text" label={label.fullLegalCompanyName}
                                        data-id="fullLegalCompanyName" value={companyDetail.fullLegalCompanyName}
                                        onchange={handleOnCommit} disabled={companyDetail.isFullLegalCompanyNameDisable}
                                        placeholder={label.enterTheValue} required>
                                    </lightning-input>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-input type="Text" label={label.contactFirstName}
                                        data-id="contactFirstName" value={companyDetail.contactFirstName}
                                        placeholder={label.enterTheValue}
                                        disabled={companyDetail.isContactFirstNameDisable} onchange={handleOnCommit}>
                                    </lightning-input>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class=" slds-m-horizontal_medium">
                                    <lightning-input type="Text" label={label.contactLastName} data-id="contactLastName"
                                        value={companyDetail.contactLastName} placeholder={label.enterTheValue}
                                        disabled={companyDetail.isContactLastNameDisable}
                                        required={isRequiredLastNameRequire} oncommit={handleOnCommit}>
                                    </lightning-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-grid slds-wrap ">

                </div>


                <div class="slds-grid slds-wrap ">
                    <div class="slds-col  slds-size_1-of-2  ">
                        <div class="slds-grid slds-wrap ">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-input type="Text" data-id="billingStreetAddress"
                                        value={companyDetail.billingStreetAddress} label={label.billingStreetAddress}
                                        oncommit={handleOnCommit} disabled={companyDetail.isBillingStreetAddressDisable}
                                        placeholder={label.enterTheValue} required>
                                    </lightning-input>

                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-combobox label={label.county} data-id="county"
                                        options={countryControllingValues} value={companyDetail.county}
                                        disabled={companyDetail.isCountyDisable} onchange={handleOnCommit} required>
                                    </lightning-combobox>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap ">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <c-dynamic-select-component custom-options={defaultCountryAndStateData}
                                        selected-value={companyDetail.state} custom-label={label.state}
                                        dependent-value={companyDetail.county} is-disable={companyDetail.isStateDisable}
                                        onselectdependentpicklist={handleSelectDependentpicklist}
                                        key-param={dependentPickListKey.state} is-required="true" data-id="state">
                                    </c-dynamic-select-component>

                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class=" slds-m-horizontal_medium">
                                    <lightning-input type="Text" label={label.city} data-id="city"
                                        value={companyDetail.city} disabled={companyDetail.isCityDisable}
                                        oncommit={handleOnCommit} required placeholder={label.enterTheValue}>
                                    </lightning-input>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="slds-grid slds-wrap slds-p-bottom_x-large">
                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap slds-p-bottom_x-small">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">

                                    <lightning-input type="text" label={label.zip} data-id="zip"
                                        value={companyDetail.zip} oncommit={handleOnCommit}
                                        disabled={companyDetail.isZipDisable} maxlength="20"
                                        placeholder={label.enterTheValue} required>
                                    </lightning-input>
                                </div>
                            </div>

                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-input type="Email" label={label.emailAddress} data-id="emailAddress"
                                        pattern="^[^@\s]+@[^@\s\.]+\.[^@\.\s]+$" value={companyDetail.emailAddress}
                                        oncommit={handleOnCommit} disabled={companyDetail.isEmailAddressDisable}
                                        placeholder={label.enterTheValue}>
                                    </lightning-input>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap ">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-input type="Text" label={label.phoneNumber} data-id="phoneNumber"
                                        value={companyDetail.phoneNumber} onblur={handleOnCommit}
                                        onfocus={handleOnFocus} onkeyup={handleOnKeyUp}
                                        disabled={companyDetail.isPhoneNumberDisable} maxlength="10" minlength="10"
                                        placeholder={label.enterTheValue}>
                                    </lightning-input>
                                </div>
                            </div>

                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-input type="Text" label={label.fax} data-id="fax"
                                        value={companyDetail.fax} onblur={handleOnCommit}
                                        disabled={companyDetail.isFaxDisable} onfocus={handleOnFocus} minlength="10"
                                        placeholder={label.enterTheValue}>
                                    </lightning-input>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>






                <div class="slds-grid slds-wrap slds-p-bottom_x-large ">
                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap slds-p-bottom_x-small">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-input type="Text" label={label.federalTaxId} data-id="federalTaxId"
                                        value={companyDetail.federalTaxId} maxlength="20" oncommit={handleOnCommit}
                                        disabled={companyDetail.isFederalTaxIdDisable}
                                        placeholder={label.enterTheValue}>
                                    </lightning-input>
                                </div>
                            </div>

                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-combobox name="progress" label={label.natureOfBusiness}
                                        value={companyDetail.natureOfBusiness} placeholder="Select an Option"
                                        options={businessOptions} onchange={handleOnCommit}
                                        disabled={companyDetail.isNatureOfBusinessDisable} data-id="natureOfBusiness">
                                    </lightning-combobox>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap ">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-input type="Text" label={label.dba} data-id="dba"
                                        value={companyDetail.dba} oncommit={handleOnCommit}
                                        disabled={companyDetail.isDbaDisable} placeholder={label.enterTheValue}>
                                    </lightning-input>
                                </div>
                            </div>

                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-input type="Text"
                                        label={label.stateOrJurisdictionOfIncorporationOrganization}
                                        data-id="stateIncorporated" value={companyDetail.stateIncorporated}
                                        oncommit={handleOnCommit} disabled={companyDetail.isStateIncorporatedDisable}
                                        placeholder={label.enterTheValue} required>
                                    </lightning-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-grid slds-wrap ">
                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap slds-p-bottom_x-small">
                            <div class="slds-col slds-size_1-of-2  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-combobox label={label.companyType} data-id="companyType"
                                        options={listOfEntities} value={companyDetail.companyType}
                                        onchange={handleOnCommit} disabled={companyDetail.isCompanyTypeDisable}>
                                    </lightning-combobox>
                                </div>
                            </div>

                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-input type="Date" label={label.dateOfIncorporation}
                                        disabled={companyDetail.isDateOfIncorporationDisable}
                                        data-id="dateOfIncorporation" onchange={handleOnCommit} max={dateValue}
                                        value={companyDetail.dateOfIncorporation} placeholder={label.enterTheValue}
                                        required={companyDetail.isCompanySolePropriotor}>
                                    </lightning-input>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap ">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-input type="Text" label={label.otherStreetAddress}
                                        data-id="otherStreetAddress" value={companyDetail.otherStreetAddress}
                                        oncommit={handleOnCommit} disabled={companyDetail.isOtherStreetAddressDisable}
                                        placeholder={label.enterTheValue}>
                                    </lightning-input>

                                </div>
                            </div>

                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-input type="Text" label={label.otherCity} data-id="otherCity"
                                        value={companyDetail.otherCity} oncommit={handleOnCommit}
                                        disabled={companyDetail.isOtherCityDisable} placeholder={label.enterTheValue}>
                                    </lightning-input>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="slds-grid slds-wrap ">
                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap slds-p-bottom_x-small">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <lightning-combobox label={label.otherCounty} data-id="otherCounty"
                                        options={countryControllingValues} value={companyDetail.otherCounty}
                                        disabled={companyDetail.isOtherCountyDisable} onchange={handleOnCommit}>
                                    </lightning-combobox>

                                </div>
                            </div>

                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <c-dynamic-select-component custom-options={defaultCountryAndStateData}
                                        selected-value={companyDetail.otherState} custom-label={label.otherState}
                                        dependent-value={companyDetail.otherCounty}
                                        onselectdependentpicklist={handleSelectDependentpicklist}
                                        is-read-only={companyDetail.isOtherStateDisable}
                                        key-param={dependentPickListKey.otherState} data-id="otherState">
                                    </c-dynamic-select-component>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="slds-col slds-size_1-of-2 ">
                        <div class="slds-grid slds-wrap ">
                            <div class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
                                <div class="slds-m-horizontal_medium">
                                    <!--  <lightning-input type="Text" label="Date of Incorporation"
                                        required={companyDetail.isCompanySolePropriotor}
                                        data-id="dateOfIncorporation" value={companyDetail.dateOfIncorporation}
                                        oncommit={handleOnCommit} disabled={companyDetail.isDateOfIncorporationDisable}>
                                    </lightning-input>-->
                                    <lightning-input type="Text" label={label.otherZip} data-id="otherZip"
                                        value={companyDetail.otherZip} disabled={companyDetail.isOtherZipDisable}
                                        oncommit={handleOnCommit} placeholder={label.enterTheValue} maxlength="20">
                                    </lightning-input>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </lightning-card>
    <c-application-popup-section is-popup-visible={isCompanyModalOpen} customlabel-outer={label.CompanyName}
        customlabel-inside={label.state} display-outer-info={companyName} display-inside-info={state}
        onpopupclose={onClosingCompanyModal} confirmation-message={label.confirmatioMessage}
        is-detail-visible={isCompanyModalOpen} headermessage={label.popupHeaderMessage}
        is-button-visible={isCompanyModalOpen} custom-button-label={label.no}>
    </c-application-popup-section>

    <c-fcs-broker-application-form-integration data-id='fcsValidationEntity'
        business-name={companyDetail.fullLegalCompanyName} state-code={companyDetail.state}
        record-id={companyDetail.existingId} onfcsflowcallback={handleFCSFlowCallback}>
    </c-fcs-broker-application-form-integration>

</template>