<template>
    <div if:true={isLoaded} class="full-size-spinner">
        <lightning-spinner class="spins" alternative-text="Creating..." variant="brand" size="large">
            <p>Loading...</p>
        </lightning-spinner>

    </div>
</template>