.communitySetupCmcWorkspaceBlueTile {
  width: 46.5%;
  height: var(--lwc-workspaceTileHeight,12.5rem);
  margin-left: 2%;
  position: relative;
  background-color: var(--lwc-workspaceCardColorBackground,#F4F6F9);
  }

.communitySetupCmcWorkspaceBlueTile:hover{
   background-color: #293e7a;
   color: white  ;
}


.communitySetupCmcWorkspaceGreenTile {
  width: 46.5%;
  height: var(--lwc-workspaceTileHeight,12.5rem);
  margin-left: 2%;
  position: relative;
  background-color: var(--lwc-workspaceCardColorBackground,#F4F6F9);
  color: var(--lwc-workspaceCardColor,#696469  );
}

.communitySetupCmcWorkspaceGreenTile:hover{
  background-color: #378456;
  color: white ;
}