<template>
      <div class="slds-grid slds-wrap slds-grid--vertical-stretch" style="padding-left: 10%;">
      
        <a 
        onclick={navigateToMyApplication}
        class="js-workspace-builder slds-text-link--reset slds-m-bottom--small slds-text-align--center slds-box--border js-workspace-tile communitySetupCmcWorkspaceBlueTile">
          <div class="slds-m-top--large">
           
            <lightning-icon icon-name="standard:record"
                class="slds-shrink-none builder slds-icon-utility-builder slds-icon_container">
            </lightning-icon>

          </div>
          <div class="slds-text-heading--small slds-m-top--small js-tile-label">
            <strong>{label.myApplication}</strong>
          </div>
          <div
            class="slds-text-body--regular  slds-m-top--small slds-m-horizontal--small js-tile-description">
            {label.myApplicationDescription}
          </div>
        </a>

        <a 
        onclick={navigateToNewApplication}
          class="js-workspace-builder slds-text-link--reset slds-m-bottom--small slds-text-align--center slds-box--border js-workspace-tile communitySetupCmcWorkspaceGreenTile">
            <div class="slds-m-top--large">
              <lightning-icon icon-name="standard:record_create"
                class="slds-shrink-none builder slds-icon-utility-builder slds-icon_container">
            </lightning-icon>
               
            </div>
            <div class="slds-text-heading--small slds-m-top--small js-tile-label">
              <strong>{label.newApplication}</strong>
            </div>
            <div class="slds-text-body--regular slds-m-top--small slds-m-horizontal--small js-tile-description">
                {label.newApplicationDescription}
            </div>
          </a>

          <a 
          onclick={navigateToPendingApplication}
          class="js-workspace-builder slds-text-link--reset slds-m-bottom--small slds-text-align--center slds-box--border js-workspace-tile communitySetupCmcWorkspaceGreenTile">
              <div class="slds-m-top--large">
                <lightning-icon icon-name="standard:lead_list"
                  class="slds-shrink-none builder slds-icon-utility-builder slds-icon_container">
                </lightning-icon>
              </div>
              <div class="slds-text-heading--small slds-m-top--small js-tile-label">
                <strong>{label.pendingApplications}</strong>
              </div>
              <div
                class="slds-text-body--regular  slds-m-top--small slds-m-horizontal--small js-tile-description">
                {label.pendingApplicationDescription}
              </div>
            </a>

            <a 
            onclick={navigateToSearchApplication}
            class="js-workspace-builder slds-text-link--reset slds-m-bottom--small slds-text-align--center slds-box--border js-workspace-tile communitySetupCmcWorkspaceBlueTile">
                <div class="slds-m-top--large">
                  <lightning-icon class="slds-shrink-none builder slds-icon-utility-builder slds-icon_container"
                   icon-name="standard:search"> 
                  </lightning-icon>
                </div>
                <div class="slds-text-heading--small slds-m-top--small js-tile-label">
                  <strong>{label.searchApplication}</strong>
                </div>
                <div
                  class="slds-text-body--regular slds-m-top--small slds-m-horizontal--small js-tile-description">
                  {label.searchApplicationDescription}
                </div>
              </a>
      </div>
 
</template>