<template>
        <div class="container-style-tag" lwc:dom="manual"></div>
        <div>
            <!-- Modal/Popup Box LWC starts here -->
            <section role="dialog" tabindex="-1" aria-modal="true" class="slds-modal slds-fade-in-open slds-modal_medium">
                <div class="slds-modal__container">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header header-style-container">
                        <button class="close-btn slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" name="cancel" onclick={handleClick}>
                            <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon> <span class="slds-assistive-text">{entityDetailLabels.closeLabel}</span> </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                            <strong>{entityDetailLabels.entityInformationLabel}</strong>
                        </h2> </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div class="slds-modal__content slds-p-around_medium border-right-blue border-left-blue" id="fcs-entity-inforamtion">
                        <lightning-accordion allow-multiple-sections-open onsectiontoggle={handleSectionToggle} active-section-name={activeSections}>
                            <lightning-accordion-section name="entityInformation" label={entityDetailLabels.entityInformationLabel} class="accordion-background">
                                <div class="container-background slds-p-around_large">
                                    <div class="slds-box inner-container">
                                        <div class="slds-form" role="list" if:true={entityInfo}>
                                            <div class="slds-form__row">
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">
                                                            {entityDetailLabels.entityNameLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static"> <a href="javascript:void(0);">
                                                                    {entityInfo.Entity_Name__c}
                                                                </a> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.entityTypeLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static"> <a href="javascript:void(0);">
                                                                    {entityInfo.Entity_Name__c}
                                                                </a> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form__row">
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.entityIdLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static"> {entityInfo.Entity_Id__c} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.standingLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static"> {entityInfo.Entity_Standing__c} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form__row">
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.filingDateLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static"> {dateOfFiling} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.dateOfIncorporationLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static"> {dateOfIncorporation} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form__row">
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.domicileCountryLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static" if:true={entityInfo.Domicile_Country__c}> {entityInfo.Domicile_Country__c} </div>
                                                            <div class="slds-form-element__static" if:false={entityInfo.Domicile_Country__c}> {entityDetailLabels.NALabel} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.domicileStateLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static" if:true={entityInfo.Domicile_State__c}> {entityInfo.Domicile_State__c} </div>
                                                            <div class="slds-form-element__static" if:false={entityInfo.Domicile_State__c}> {entityDetailLabels.NALabel} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form__row">
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.addressTypeLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static" if:true={addressInfo}> {addressInfo.Address_Type__c} </div>
                                                            <div class="slds-form-element__static" if:false={addressInfo}> {entityDetailLabels.NALabel} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.timeInServiceLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static" if:true={entityInfo.Time_In_Service__c}> {entityInfo.Time_In_Service__c}</div>
                                                            <div class="slds-form-element__static" if:false={entityInfo.Time_In_Service__c}> {entityDetailLabels.NALabel} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form__row">
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{addresOneLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static" if:true={addressInfo}> {addressInfo.Street_Address_1__c} </div>
                                                            <div class="slds-form-element__static" if:false={addressInfo}> {entityDetailLabels.NALabel} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{addresTwoLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static" if:true={addressInfo}> {addressInfo.Street_Address_2__c } </div>
                                                            <div class="slds-form-element__static" if:false={addressInfo}> {entityDetailLabels.NALabel} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form__row">
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.cityLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static" if:true={addressInfo}> {addressInfo.City__c} </div>
                                                            <div class="slds-form-element__static" if:false={addressInfo}> {entityDetailLabels.NALabel} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.stateLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static" if:true={addressInfo}> {addressInfo.State__c} </div>
                                                            <div class="slds-form-element__static" if:false={addressInfo}> {entityDetailLabels.NALabel} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form__row">
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.countryLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static" if:true={addressInfo}> {addressInfo.County__c} </div>
                                                            <div class="slds-form-element__static" if:false={addressInfo}> {entityDetailLabels.NALabel} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.postalCodeLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static" if:true={addressInfo}> {addressInfo.Postal_Code__c} </div>
                                                            <div class="slds-form-element__static" if:false={addressInfo}> {entityDetailLabels.NALabel} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form__row">
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.countryOrParishLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static" if:true={addressInfo}> {addressInfo.Country_Parish__c} </div>
                                                            <div class="slds-form-element__static" if:false={addressInfo}> {entityDetailLabels.NALabel} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-form__item" role="listitem"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </lightning-accordion-section>
                            <lightning-accordion-section name="partyInformation" label="Parties Information" class="accordion-background">
                                    <div class="container-background slds-p-around_large">
                                <template if:true={partyInfo}>
                                    <template for:each={partyInfo} for:item="party">
                                    <div class="slds-box inner-container" key={party.entityParty.Id}>
                                        <div class="slds-form" role="list">
                                            <div class="slds-form__row">
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.partyTypeLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static" if:true={party.entityParty.Type__c}> {party.entityParty.Type__c} </div>
                                                            <div class="slds-form-element__static" if:false={party.entityParty.Type__c}> {entityDetailLabels.NALabel} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.titleLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static" if:true={party.entityParty.Title__c}> {party.entityParty.Title__c} </div>
                                                            <div class="slds-form-element__static" if:false={party.entityParty.Title__c}> {entityDetailLabels.NALabel} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-form__row">
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.entityNameLabel}</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-form-element__static" if:true={party.entityParty.Name__c}> {party.entityParty.Name__c } </div>
                                                            <div class="slds-form-element__static" if:false={party.entityParty.Name__c}> {entityDetailLabels.NALabel} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-form__item" role="listitem"></div>
                                            </div>
                                            <template if:true={party.listOfPartyAddress}>
                                                <template for:each={party.listOfPartyAddress} for:item="partyAddress">
                                                    <div key={partyAddress.Id}>
                                                        <div class="slds-form__row">
                                                            <div class="slds-form__item" role="listitem">
                                                                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.addressTypeLabel}</span>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-form-element__static" if:true={partyAddress.Address_Type__c}> {partyAddress.Address_Type__c} </div>
                                                                        <div class="slds-form-element__static" if:false={partyAddress.Address_Type__c}> {entityDetailLabels.NALabel} </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="slds-form__item" role="listitem"></div>
                                                        </div>
                                                        <div class="slds-form__row">
                                                            <div class="slds-form__item" role="listitem">
                                                                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{addresOneLabel}</span>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-form-element__static" if:true={partyAddress.Street_Address_1__c}> {partyAddress.Street_Address_1__c} </div>
                                                                        <div class="slds-form-element__static" if:false={partyAddress.Street_Address_1__c}> {entityDetailLabels.NALabel} </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="slds-form__item" role="listitem">
                                                                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{addresTwoLabel}</span>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-form-element__static" if:true={partyAddress.Street_Address_2__c}> {partyAddress.Street_Address_2__c} </div>
                                                                        <div class="slds-form-element__static" if:false={partyAddress.Street_Address_2__c}> {entityDetailLabels.NALabel} </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="slds-form__row">
                                                            <div class="slds-form__item" role="listitem">
                                                                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.cityLabel}</span>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-form-element__static" if:true={partyAddress.City__c}> {partyAddress.City__c} </div>
                                                                        <div class="slds-form-element__static" if:false={partyAddress.City__c}> {entityDetailLabels.NALabel} </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="slds-form__item" role="listitem">
                                                                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.stateLabel}</span>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-form-element__static" if:true={partyAddress.State__c}> {partyAddress.State__c} </div>
                                                                        <div class="slds-form-element__static" if:false={partyAddress.State__c}> {entityDetailLabels.NALabel} </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="slds-form__row">
                                                            <div class="slds-form__item" role="listitem">
                                                                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.countryLabel}</span>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-form-element__static" if:true={partyAddress.County__c}> {partyAddress.County__c} </div>
                                                                        <div class="slds-form-element__static" if:false={partyAddress.County__c}> {entityDetailLabels.NALabel} </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="slds-form__item" role="listitem">
                                                                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">
                                                                        {entityDetailLabels.ADDRESS.postalCodeLabel}</span>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-form-element__static" if:true={partyAddress.Postal_Code__c}> {partyAddress.Postal_Code__c} </div>
                                                                        <div class="slds-form-element__static" if:false={partyAddress.Postal_Code__c}> {entityDetailLabels.NALabel} </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="slds-form__row">
                                                            <div class="slds-form__item" role="listitem">
                                                                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.countryOrParishLabel}</span>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-form-element__static" if:true={partyAddress.Country_Parish__c}> {partyAddress.Country_Parish__c} </div>
                                                                        <div class="slds-form-element__static" if:false={partyAddress.Country_Parish__c}> {entityDetailLabels.NALabel} </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="slds-form__item" role="listitem"></div>
                                                        </div>
                                                    </div>
                                                </template>
                                            </template>
                                        </div>
                                    </div>
                                </template>
                            </template>
                                <template if:false={partyInfo}>
                                    <div class="text-white slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_info" role="alert"> <span class="slds-assistive-text">{entityDetailLabels.warningLabel}</span>
                                        <h2>{entityDetailLabels.noPartiesFoundLabel}</h2> </div>
                                </template>
                                </div>
                            </lightning-accordion-section>
                            <lightning-accordion-section name="agentInformation" label="Agent Information" class="accordion-background">
                                    <div class="container-background slds-p-around_large">
                                <template if:true={agentInfo} >
                                    <template for:each={agentInfo} for:item="agent" if:true={agent}>
                                        <div class="slds-box inner-container" key={agent.entityAgent.Id}>
                                            <div class="slds-form" role="list">
                                                <div class="slds-form__row" key={agent.entityAgent.Id}>
                                                    <div class="slds-form__item" role="listitem">
                                                        <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.entityNameLabel}</span>
                                                            <div class="slds-form-element__control">
                                                                <div class="slds-form-element__static" if:true={agent.entityAgent.Name__c}> {agent.entityAgent.Name__c} </div>
                                                                <div class="slds-form-element__static" if:false={agent.entityAgent.Name__c}> {entityDetailLabels.NALabel} </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="slds-form__item" role="listitem"></div>
                                                </div>
                                                <template if:true={agent.listOfAgentAddress} for:each={agent.listOfAgentAddress} for:item="agentAddress">
                                                    <div key={agentAddress.Id}>
                                                        <div class="slds-form__row">
                                                            <div class="slds-form__item" role="listitem">
                                                                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{addresOneLabel}</span>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-form-element__static" if:true={agentAddress.Street_Address_1__c}> {agentAddress.Street_Address_1__c} </div>
                                                                        <div class="slds-form-element__static" if:false={agentAddress.Street_Address_1__c}> {entityDetailLabels.NALabel} </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="slds-form__item" role="listitem">
                                                                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{addresTwoLabel}</span>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-form-element__static" if:true={agentAddress.Street_Address_2__c}> {agentAddress.Street_Address_2__c} </div>
                                                                        <div class="slds-form-element__static" if:false={agentAddress.Street_Address_2__c}> {entityDetailLabels.NALabel} </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="slds-form__row">
                                                            <div class="slds-form__item" role="listitem">
                                                                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.cityLabel}</span>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-form-element__static" if:true={agentAddress.City__c}> {agentAddress.City__c} </div>
                                                                        <div class="slds-form-element__static" if:false={agentAddress.City__c}> {entityDetailLabels.NALabel} </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="slds-form__item" role="listitem">
                                                                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.stateLabel}</span>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-form-element__static" if:true={agentAddress.State__c}> {agentAddress.State__c} </div>
                                                                        <div class="slds-form-element__static" if:false={agentAddress.State__c}> {entityDetailLabels.NALabel} </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="slds-form__row">
                                                            <div class="slds-form__item" role="listitem">
                                                                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.countryLabel}</span>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-form-element__static" if:true={agentAddress.County__c}> {agentAddress.County__c} </div>
                                                                        <div class="slds-form-element__static" if:false={agentAddress.County__c}> {entityDetailLabels.NALabel} </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="slds-form__item" role="listitem">
                                                                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.postalCodeLabel}</span>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-form-element__static" if:true={agentAddress.Postal_Code__c}> {agentAddress.Postal_Code__c} </div>
                                                                        <div class="slds-form-element__static" if:false={agentAddress.Postal_Code__c}> {entityDetailLabels.NALabel} </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="slds-form__row">
                                                            <div class="slds-form__item" role="listitem">
                                                                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.countryOrParishLabel}</span>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-form-element__static" if:true={agentAddress.Country_Parish__c}> {agentAddress.Country_Parish__c} </div>
                                                                        <div class="slds-form-element__static" if:false={agentAddress.Country_Parish__c}> {entityDetailLabels.NALabel} </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="slds-form__item" role="listitem">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </template>
                                            </div>
                                        </div>
                                    </template>
                                </template>
                                <template if:false={agentInfo}>
                                    <div class="text-white slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_info" role="alert"> <span class="slds-assistive-text">{entityDetailLabels.warningLabel}</span>
                                        <h2>{entityDetailLabels.noAgentsFoundLabel}</h2> </div>
                                </template>
                                </div>
                            </lightning-accordion-section>
                        </lightning-accordion>
                    </div>
                    <!-- Modal/Popup Box LWC footer starts here -->
                    <footer class="slds-modal__footer border-right-blue border-left-blue border-bottom-blue no-top-border">
                        <lightning-button variant="neutral" name="cancel" label={entityDetailLabels.cancelLabel} title={entityDetailLabels.cancelLabel} onclick={handleClick} class="slds-m-left_x-small"> </lightning-button>
                        <lightning-button variant="success" name="certify" label={entityDetailLabels.iCertifyLabel} title={entityDetailLabels.iCertifyLabel} onclick={handleClick} class="slds-m-left_x-small"> </lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>