.THIS .logoContainer {
    background-image: t('url(' + brandLogoImage  + ')');
    background-position: left;
    background-repeat: no-repeat;
    background-size: inherit;
    z-index: 99;
    cursor: pointer;
    position: relative; 
    display: block;
    outline: 0; 
    width: 112px;
    height: 74px;
    background-size: 100% 100%; 
}

.THIS.fixed-header .navigation-container {
    background-color: rgba(41, 65, 122, 1)!important;
    border: none;
    border-width: 0;
    border-radius: 0;
}

.THIS div.comm-navigation div.slds-grid ul.comm-navigation__list>li:not(:nth-last-child(2)) {
    border-right: 1px solid white!important;
}

.THIS a.slds-container_fluid:hover{
    background:#378456!important;
}

.THIS a.slds-container_fluid:active{
    background:#378456!important;
}

.THIS .comm-navigation__item>a.slds-is-active {
    background:#378456!important; 
}

.THIS a.slds-container_fluid {
    font-size: 13px!important;
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
     
}

.THIS .selfServiceUserProfileMenu .uiMenuItem {
    border-top: 1px solid #ececec;
}

.THIS .selfServiceUserProfileMenu .uiMenuItem:hover,
.THIS .selfServiceUserProfileMenu .uiMenuItem:visited {
    background:#378456!important;
    color:white!important;
}

.THIS .selfServiceUserProfileMenu .uiMenuItem a:hover,
.THIS .selfServiceUserProfileMenu .uiMenuItem a:visited {
    color:white!important;
}

.THIS .selfServiceUserProfileMenu .profileName {
    font-size:14px!important;
}

.THIS .selfServiceProfileMenuTrigger .trigger-link:focus {
    border-radius: 0!important;
}

.THIS .selfServiceProfileMenuTrigger a:hover,
.THIS .selfServiceProfileMenuTrigger a:focus,
.THIS .selfServiceProfileMenuTrigger a:active {
    background-color: rgba(230, 230, 230, 0.8)!important;
}

.THIS .selfServiceProfileMenuTrigger a:hover span.triggerDownArrow.down-arrow,
.THIS .selfServiceProfileMenuTrigger a:focus span.triggerDownArrow.down-arrow,
.THIS .selfServiceProfileMenuTrigger a:active span.triggerDownArrow.down-arrow {
    color:#378456!important;
}

.THIS.fixed-header {
    position:fixed;
    background:white;
    top:0;
    width: 100%;
    z-index: 99;
}

.THIS.mainContentArea {
    padding: 10% 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .THIS.mainContentArea {
        padding: 40% 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .THIS.mainContentArea {
        padding: 20% 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .THIS.mainContentArea {
        padding: 15% 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .THIS.mainContentArea {
        padding: 15% 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .THIS.mainContentArea {
        padding: 10% 0;
    }
}