.slds-modal__container {
  
}

div.count-container {
    height: 36px;
    width: 36px;
    background-color: rgb(0, 62, 126);
    display: inline-block;
    float: left;
    color: white;
    text-align: center;
    margin-top: .5rem;
}


div.count-container .count-text {
    margin-top: 25%;
}

div.multi-form-title {
    float: left;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

div.bottom-border {
    border-bottom: 2px solid rgba(0, 62, 126, 1);
}

div.slds-body-container {
    border:1px solid #e3e4e5; 
    background-color:#e3e4e5;
}