<template>
	<div class="container-style-tag" lwc:dom="manual"></div>
	<template for:each={guarantorList} for:item="item" for:index="index">
		<lightning-card key={item.rowId}>
			<div style="background: #f3f3f3;padding-bottom: 30px!important;
					padding-top: 20px!important;
					padding-left: 10px!important;
					padding-right: 10px!important;">
				<h3 slot="title">
					<div class=" slds-m-horizontal_medium">
						<div class="slds-clearfix bottom-border">
							<div class="count-container">
								<div class="count-text">{item.count}</div>
							</div>

							<div class="slds-m-top_small slds-m-left_small multi-form-title">
								Guarantor Information
							</div>


							<div class="slds-float_right">
								<lightning-button-icon class="action-btn success" icon-name="utility:add"
									access-key={item.rowId} id={item.rowId} alternative-text="Add Row" size="medium"
									title="Add Row" onclick={createNewRow} variant='success'>
								</lightning-button-icon>
								<template if:true={item.isDeleteRequire}> <span
										class="slds-m-horizontal_x-small"></span>
									<span id={item.rowId} onclick={onDeleteRow} data-row-id={item.rowId}>
										<lightning-button-icon icon-name="utility:delete" access-key={item.id}
											id={index} alternative-text="Delete Row" size="medium" title="Delete Row"
											data-index={item.rowId} variant='error' class="action-btn error">
										</lightning-button-icon>
									</span>
								</template>
								<template if:false={item.isDeleteRequire}> <span
										class="slds-m-horizontal_x-small"></span>
									<lightning-button-icon icon-name="utility:close" size="medium" onclick={onClearRows}
										variant='error' class="action-btn error" alternative-text="Clear Data"
										title="Clear Data">
									</lightning-button-icon>
									<strong class="slds-m-left--x-small"></strong>
								</template>
							</div>
						</div>
					</div>
				</h3>
				<div class="slds-p-horizontal_medium">
					<div class=" slds-body-container">
						<div class="slds-grid slds-wrap slds-m-top_small slds-p-bottom_x-large">
							<div class="slds-col slds-size_1-of-2 ">
								<div class="slds-grid slds-wrap">
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<lightning-combobox label={label.Guarantor} value={item.guarantorType}
												dropdown-alignment="auto" options={gurantorTypes}
												onchange={onHandleTypeOfGuarantor} placeholder="Individual"
												data-index={item.rowId} data-id="guarantorType"
												disabled={item.isReviewEnabled}> </lightning-combobox>
										</div>
									</div>
								</div>
							</div>
							<div class="slds-col slds-size_1-of-2">
								<div class="slds-grid slds-wrap">
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium"> </div>
									</div>
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<template if:true={item.isRecordSearch}>
												<lightning-input type="text" label="Guarantor Search"
													data-id="fullSearchName" oncommit={handleChange}
													value={item.fullSearchName} data-index={item.rowId}
													disabled={item.isRecordSearch}> </lightning-input>
											</template>
											<template if:false={item.isRecordSearch}>
												<template if:true={item.isGuarantor}>
													<c-custom-lookup obj-name="Account"
														search-placeholder="Search Corporate Guarantors"
														icon-name="standard:account" search-term={item.searchKey}
														help-text-value="This is not a input field.Type here to Search Guarantor"
														disable-company={item.isReviewEnabled}
														search-label={searchComponent.guarantorSearchLabel}
														onlookupselected={handleSearchBoxSelection}
														onclearformdata={clearFormFromCustomLookup}
														data-row-id={item.rowId} search-box="searchKey"
														row-id={item.rowId}> </c-custom-lookup>
												</template>
												<template if:false={item.isGuarantor}>
													<c-custom-lookup obj-name="Contact" search-term={item.searchKey}
														search-placeholder="Search Individual Guarantors"
														icon-name="standard:contact"
														help-text-value="This is not a input field.Type here to Search Guarantor"
														disable-company={item.isReviewEnabled}
														search-label={searchComponent.guarantorSearchLabel}
														onlookupselected={handleSearchBoxSelection} row-id={item.rowId}
														onclearformdata={clearFormFromCustomLookup}
														data-row-id={item.rowId} search-box="searchKey">
													</c-custom-lookup>
												</template>
											</template>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="slds-grid slds-wrap slds-m-top_small slds-p-bottom_x-large ">
							<div class="slds-col slds-size_1-of-2 ">
								<div class="slds-grid slds-wrap">
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<template if:true={item.isGuarantor}>
												<lightning-input type="text" label={label.CompanyName}
													data-id="companyName" oncommit={handleChange}
													value={item.companyName} data-index={item.rowId}
													required={item.companyDataRequire}
													disabled={item.isCompanyNameDisable}
													placeholder={label.enterTheValue}> </lightning-input>
											</template>
											<template if:false={item.isGuarantor}>
												<lightning-combobox label={label.Prefix} value={item.prefix}
													options={PrefixTypes} data-index={item.rowId}
													disabled={item.isPrefixDisabled} data-id="prefix"
													onchange={handleChange}> </lightning-combobox>
											</template>
										</div>
									</div>
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<template if:false={item.isGuarantor}>
												<lightning-input type="Text" label={label.FirstName}
													data-id="firstNameGuarantor" oncommit={handleChange}
													value={item.firstNameGuarantor} data-index={item.rowId}
													required={item.individualDataRequire}
													placeholder={label.enterTheValue}
													disabled={item.isFirstNameGuarantorDisable}> </lightning-input>
											</template>
											<template if:true={item.isGuarantor}>
												<lightning-input type="Text" label={label.FirstName}
													disabled={item.isFirstNameGuarantorDisable}
													data-id="firstNameGuarantor" oncommit={handleChange}
													value={item.firstNameGuarantor} placeholder={label.enterTheValue}
													data-index={item.rowId}> </lightning-input>
											</template>
										</div>
									</div>
								</div>
							</div>
							<div class="slds-col slds-size_1-of-2">
								<div class="slds-grid slds-wrap">
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<template if:true={item.isGuarantor}>
												<lightning-input type="Text" label={label.MiddleName}
													disabled={item.isMiddleNameGuarantorDisable}
													data-id="middleNameGuarantor" oncommit={handleChange}
													value={item.middleNameGuarantor} data-index={item.rowId}
													placeholder={label.enterTheValue}> </lightning-input>
											</template>
											<template if:false={item.isGuarantor}>
												<lightning-input type="Text" label={label.MiddleName}
													disabled={item.isMiddleNameGuarantorDisable}
													data-id="middleNameGuarantor" oncommit={handleChange}
													value={item.middleNameGuarantor} data-index={item.rowId}
													placeholder={label.enterTheValue}> </lightning-input>
											</template>
										</div>
									</div>
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<template if:false={item.isGuarantor}>
												<lightning-input type="Text" label={label.LastName}
													disabled={item.isLastNameGuarantorDisable}
													data-id="lastNameGuarantor" oncommit={handleChange}
													value={item.lastNameGuarantor} placeholder={label.enterTheValue}
													data-index={item.rowId} required={item.individualDataRequire}>
												</lightning-input>
											</template>
											<template if:true={item.isGuarantor}>
												<lightning-input type="Text" label={label.LastName}
													disabled={item.isLastNameGuarantorDisable}
													data-id="lastNameGuarantor" oncommit={handleChange}
													value={item.lastNameGuarantor} placeholder={label.enterTheValue}
													data-index={item.rowId}> </lightning-input>
											</template>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="slds-grid slds-wrap ">
							<div class="slds-col slds-size_1-of-2 ">
								<div class="slds-grid slds-wrap">
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<template if:true={item.isGuarantor}>
												
												
													<lightning-input type="Text" label={label.street}
														disabled={item.isMailingStreetGurantorDisable}
														data-id="mailingStreetGurantor" data-index={item.rowId}
														oncommit={handleChange} value={item.mailingStreetGurantor}
														required={item.companyDataRequire}
														placeholder={label.enterTheValue}> </lightning-input>
												
											</template>
											<template if:false={item.isGuarantor}>
												<template if:true={item.isCreatedByMe}>
														<template if:false={item.ismaskedMailingStreetRequired}>
													<lightning-input type="Text" label={label.street}
														disabled={item.isMailingStreetGurantorDisable}
														data-id="mailingStreetGurantor" data-index={item.rowId}
														oncommit={handleChange} value={item.mailingStreetGurantor}
														required={item.individualDataRequire}
														placeholder={label.enterTheValue}> </lightning-input>
												</template>
												<template if:true={item.ismaskedMailingStreetRequired}>
														<lightning-input type="Text" label={label.street}
														disabled={item.isMailingStreetGurantorDisable}
														data-id="maskedMailingStreetGurantor" data-index={item.rowId}
														oncommit={handleChange} value={item.maskedMailingStreetGurantor}
														required={item.individualDataRequire}
														placeholder={label.enterTheValue}> </lightning-input>
													</template>
											</template>
												<template if:false={item.isCreatedByMe}>
													<lightning-input type="Text" label={label.street}
														disabled={item.isMailingStreetGurantorDisable}
														data-id="maskedMailingStreetGurantor" data-index={item.rowId}
														oncommit={handleChange} value={item.maskedMailingStreetGurantor}
														required={item.individualDataRequire}
														placeholder={label.enterTheValue}> </lightning-input>
												</template>
											</template>
										</div>
									</div>
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class=" slds-m-horizontal_medium">
											<template if:true={item.isGuarantor}>
												<lightning-combobox options={countryControllingValues}
													label={label.country}
													disabled={item.isMailingCountryGuarantorDisable}
													data-id="mailingCountryGuarantor"
													value={item.mailingCountryGuarantor} data-index={item.rowId}
													onchange={handleChange} required={item.companyDataRequire}>
												</lightning-combobox>
											</template>
											<template if:false={item.isGuarantor}>
												<lightning-combobox options={countryControllingValues}
													label={label.country}
													disabled={item.isMailingCountryGuarantorDisable}
													data-id="mailingCountryGuarantor"
													value={item.mailingCountryGuarantor} data-index={item.rowId}
													onchange={handleChange} required={item.individualDataRequire}>
												</lightning-combobox>
											</template>
										</div>
									</div>
								</div>
							</div>
							<div class="slds-col slds-size_1-of-2">
								<div class="slds-grid slds-wrap">
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<template if:false={item.isGuarantor}>
												<c-dynamic-select-component custom-options={defaultCountryAndStateData}
													selected-value={item.mailingStateGuarantor}
													custom-label={label.state}
													dependent-value={item.mailingCountryGuarantor}
													key-param={dependentPickListKey.mailingStateGuarantor}
													current-index={item.rowId} data-id="mailingStateGuarantor"
													onselectdependentpicklist={handleSelectDependentpicklist}
													is-disable={item.isMailingStateGuarantorDisable}
													is-required={item.individualDataRequire}>
												</c-dynamic-select-component>
											</template>
											<template if:true={item.isGuarantor}>
												<c-dynamic-select-component custom-options={defaultCountryAndStateData}
													selected-value={item.mailingStateGuarantor}
													custom-label={label.state}
													dependent-value={item.mailingCountryGuarantor}
													is-disable={item.isMailingStateGuarantorDisable}
													key-param={dependentPickListKey.mailingStateGuarantor}
													current-index={item.rowId} data-id="mailingStateGuarantor"
													onselectdependentpicklist={handleSelectDependentpicklist}
													is-required={item.companyDataRequire}></c-dynamic-select-component>
											</template>
										</div>
									</div>
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<template if:true={item.isGuarantor}>
												<lightning-input type="Text" label={label.city}
													disabled={item.isMailingCityGuarantorDisable}
													data-id="mailingCityGuarantor" oncommit={handleChange}
													value={item.mailingCityGuarantor} placeholder={label.enterTheValue}
													data-index={item.rowId} required={item.companyDataRequire}>
												</lightning-input>
											</template>
											<template if:false={item.isGuarantor}>
												<lightning-input type="Text" label={label.city}
													disabled={item.isMailingCityGuarantorDisable}
													data-id="mailingCityGuarantor" oncommit={handleChange}
													value={item.mailingCityGuarantor} placeholder={label.enterTheValue}
													data-index={item.rowId} required={item.individualDataRequire}>
												</lightning-input>
											</template>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="slds-grid slds-wrap slds-p-bottom_x-large">
							<div class="slds-col slds-size_1-of-2 ">
								<div class="slds-grid slds-wrap">
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<template if:false={item.isGuarantor}>
												<lightning-input type="Text" label={label.zip}
													disabled={item.isMailingPostalCodeGuarantorDisable}
													data-id="mailingPostalCodeGuarantor"
													value={item.mailingPostalCodeGuarantor} oncommit={handleChange}
													data-index={item.rowId} placeholder={label.enterTheValue}
													required={item.individualDataRequire} maxlength="20">
												</lightning-input>
											</template>
											<template if:true={item.isGuarantor}>
												<lightning-input type="Text" label={label.zip}
													disabled={item.isMailingPostalCodeGuarantorDisable}
													data-id="mailingPostalCodeGuarantor"
													value={item.mailingPostalCodeGuarantor} oncommit={handleChange}
													data-index={item.rowId} placeholder={label.enterTheValue}
													required={item.companyDataRequire} maxlength="20">
												</lightning-input>
											</template>
										</div>
									</div>
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<template if:true={item.isGuarantor}>
												<lightning-input type="Email" label={label.emailAddress}
													data-id="emailAddressGuarantor"
													pattern="^[^@\s]+@[^@\s\.]+\.[^@\.\s]+$"
													value={item.emailAddressGuarantor} data-index={item.rowId}
													placeholder={label.enterTheValue} oncommit={handleChange}
													disabled={item.isEmailAddressGuarantorDisable}> </lightning-input>
											</template>
											<template if:false={item.isGuarantor}>
												<template if:false={item.isCreatedByMe}>
													<template if:false={item.ismaskedEmailAddressGuarantorRequired}>
													<lightning-input type="Email" label={label.emailAddress}
														data-id="maskedEmailAddressGuarantor"
														pattern="^[^@\s]+@[^@\s\.]+\.[^@\.\s]+$"
														value={item.maskedEmailAddressGuarantor} data-index={item.rowId}
														placeholder={label.enterTheValue} oncommit={handleChange}
														disabled={item.isEmailAddressGuarantorDisable}> </lightning-input>
													</template>
													<template if:true={item.ismaskedEmailAddressGuarantorRequired}>
													<lightning-input type="Email" label={label.emailAddress}
														data-id="emailAddressGuarantor"
														pattern="^[^@\s]+@[^@\s\.]+\.[^@\.\s]+$"
														value={item.emailAddressGuarantor} data-index={item.rowId}
														placeholder={label.enterTheValue} oncommit={handleChange}
														disabled={item.isEmailAddressGuarantorDisable}> </lightning-input>
													</template>
												</template>
												
												<template if:true={item.isCreatedByMe}>
													<lightning-input type="Email" label={label.emailAddress}
														data-id="emailAddressGuarantor"
														pattern="^[^@\s]+@[^@\s\.]+\.[^@\.\s]+$"
														value={item.emailAddressGuarantor} data-index={item.rowId}
														placeholder={label.enterTheValue} oncommit={handleChange}
														disabled={item.isEmailAddressGuarantorDisable}> </lightning-input>
												</template>
											</template>
										</div>
									</div>
								</div>
							</div>
							<div class="slds-col slds-size_1-of-2">
								<div class="slds-grid slds-wrap">
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<template if:false={item.isGuarantor}>
												<template if:false={item.isCreatedByMe}>
													<template if:false={item.ismaskedHomePhoneGuarantorRequired}>
													<lightning-input type="Text" label={label.PhoneNumber}
														onfocus={handleOnFocus} onkeyup={handleOnKeyUp}
														data-id="maskedHomePhoneGuarantor" placeholder={label.enterTheValue}
														value={item.maskedHomePhoneGuarantor} onblur={handleChange}
														data-index={item.rowId} maxlength="10" minlength="10"
														disabled={item.isHomePhoneGuarantorDisable}> </lightning-input>
													</template>
													<template if:true={item.ismaskedHomePhoneGuarantorRequired}>
													<lightning-input type="Text" label={label.PhoneNumber}
														onfocus={handleOnFocus} onkeyup={handleOnKeyUp}
														data-id="homePhoneGuarantor" placeholder={label.enterTheValue}
														value={item.homePhoneGuarantor} onblur={handleChange}
														data-index={item.rowId} maxlength="10" minlength="10"
														disabled={item.isHomePhoneGuarantorDisable}> </lightning-input>
													</template>
												</template>
												
												<template if:true={item.isCreatedByMe}>
													<lightning-input type="Text" label={label.PhoneNumber}
														onfocus={handleOnFocus} onkeyup={handleOnKeyUp}
														data-id="homePhoneGuarantor" placeholder={label.enterTheValue}
														value={item.homePhoneGuarantor} onblur={handleChange}
														data-index={item.rowId} maxlength="10" minlength="10"
														disabled={item.isHomePhoneGuarantorDisable}> </lightning-input>
												</template>
											</template>
											<template if:true={item.isGuarantor}>
												<lightning-input type="Text" label={label.PhoneNumber}
													data-id="homePhoneGuarantor" value={item.homePhoneGuarantor}
													onfocus={handleOnFocus} onkeyup={handleOnKeyUp}
													onblur={handleChange} data-index={item.rowId} maxlength="10"
													minlength="10" placeholder={label.enterTheValue}
													disabled={item.isHomePhoneGuarantorDisable}> </lightning-input>
											</template>
										</div>
									</div>
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<template if:false={item.isGuarantor}>
												<lightning-input type="Text" label={label.Fax} data-id="faxGuarantor"
													onfocus={handleOnFocus} minlength="10" value={item.faxGuarantor}
													onblur={handleChange} data-index={item.rowId}
													disabled={item.isFaxGuarantorDisable}
													placeholder={label.enterTheValue}> </lightning-input>
											</template>
											<template if:true={item.isGuarantor}>
												<lightning-input type="Text" label={label.Fax} data-id="faxGuarantor"
													onfocus={handleOnFocus} minlength="10" value={item.faxGuarantor}
													onblur={handleChange} data-index={item.rowId}
													disabled={item.isFaxGuarantorDisable}
													placeholder={label.enterTheValue}> </lightning-input>
											</template>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="slds-grid slds-wrap slds-p-bottom_x-large">
							<div class="slds-col slds-size_1-of-2 ">
								<div class="slds-grid slds-wrap slds-m-bottom_small">
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<template if:true={item.isGuarantor}>
												<!--disabled={item.isContigentDisable}-->
												<lightning-input type="number" label={label.Contigent}
													data-index={item.rowId} data-id="contigent" value={item.contigent}
													formatter="number" step="0.01" oncommit={handleChange} max="100.00"
													min="1.00"
													message-when-range-underflow="Please enter contigent % above 1"
													message-when-range-overflow="Please enter contigent % upto 100"
													maxlength="6" placeholder={label.enterTheValue}
													message-when-step-mismatch={label.pleaseEnterCostUptoTwoDecimalPlaces}>
												</lightning-input>
											</template>
											<template if:false={item.isGuarantor}>
												<lightning-input type="number" label={label.Contigent}
													data-index={item.rowId} data-id="contigent" value={item.contigent}
													formatter="number" step="0.01" oncommit={handleChange} max="100.00"
													min="1.00"
													message-when-range-underflow="Please enter contigent % above 1"
													message-when-range-overflow="Please enter contigent % upto 100"
													maxlength="6" placeholder={label.enterTheValue}
													message-when-step-mismatch={label.pleaseEnterCostUptoTwoDecimalPlaces}>
												</lightning-input>
											</template>
										</div>
									</div>
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<template if:true={item.isGuarantor}>
												<lightning-combobox name="progress" label={label.NatureOfBusiness}
													value={item.natureofBusiness} placeholder="Select an Option"
													options={businessOptions} onchange={handleChange}
													disabled={item.isNatureofBusinessDisable} data-id="natureofBusiness"
													data-index={item.rowId}> </lightning-combobox>
											</template>
											<template if:false={item.isGuarantor}>
												<template if:false={item.isCreatedByMe}>
														<template if:false={item.ismaskedDobRequired}>
													<lightning-input type="text" label={label.DOB}
														disabled={item.isDOBDisable} data-id="maskedDob"
														onchange={handleChange} max={maxDateLimit} value={item.maskedDob}
														data-index={item.rowId} placeholder={label.enterTheValue}>
													</lightning-input>
												</template>
												<template if:true={item.ismaskedDobRequired}>
														<lightning-input type="Date" label={label.DOB}
														disabled={item.isDOBDisable} data-id="dOB"
														onchange={handleChange} max={maxDateLimit} value={item.dOB}
														data-index={item.rowId} placeholder={label.enterTheValue}>
													</lightning-input>
													</template>
												</template>
												<template if:true={item.isCreatedByMe}>
													<lightning-input type="Date" label={label.DOB}
														disabled={item.isDOBDisable} data-id="dOB"
														onchange={handleChange} max={maxDateLimit} value={item.dOB}
														data-index={item.rowId} placeholder={label.enterTheValue}>
													</lightning-input>
												</template>
											</template>
										</div>
									</div>
								</div>
							</div>
							<div class="slds-col slds-size_1-of-2">
								<div class="slds-grid slds-wrap">
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium ">
											<template if:true={item.isGuarantor}>
												<lightning-input type="Text" label={label.TaxID}
													disabled={item.isFederalTaxIdDisable} data-index={item.rowId}
													data-id="federalTaxId" value={item.federalTaxId} maxlength="11"
													oncommit={handleChange} required={item.companyDataRequire}
													placeholder={label.enterTheValue}> </lightning-input>
											</template>
											<template if:false={item.isGuarantor}>
												<template if:false={item.isCreatedByMe}>
													<template if:false={item.ismaskedSocialSecurityRequired}>
													<lightning-input type="text" label={label.SocialSecurity}
														disabled={item.isSocialSecurityDisable}
														message-when-pattern-mismatch="No Characters are allowed and length should be 9"
														pattern="^(?!000|999)[0-9][0-9]{2}-(?!00)[0-9]{2}-(?!0000)[0-9]{4}$"
														data-id="maskedSocialSecurity" value={item.maskedSocialSecurity}
														onfocus={handleOnFocus} onblur={handleChange}
														data-index={item.rowId} required={item.individualDataRequire}
														placeholder={label.enterTheValue}> </lightning-input>
												</template>
												<template if:true={item.ismaskedSocialSecurityRequired}>
														<lightning-input type="text" label={label.SocialSecurity}
														disabled={item.isSocialSecurityDisable}
														message-when-pattern-mismatch="No Characters are allowed and length should be 9"
														pattern="^(?!000|999)[0-9][0-9]{2}-(?!00)[0-9]{2}-(?!0000)[0-9]{4}$"
														data-id="socialSecurity" value={item.socialSecurity}
														onfocus={handleOnFocus} onblur={handleChange}
														data-index={item.rowId} required={item.individualDataRequire}
														placeholder={label.enterTheValue}> </lightning-input>
													</template>
											</template>
												<template if:true={item.isCreatedByMe}>
													<lightning-input type="text" label={label.SocialSecurity}
														disabled={item.isSocialSecurityDisable}
														message-when-pattern-mismatch="No Characters are allowed and length should be 9"
														pattern="^(?!000|999)[0-9][0-9]{2}-(?!00)[0-9]{2}-(?!0000)[0-9]{4}$"
														data-id="socialSecurity" value={item.socialSecurity}
														onfocus={handleOnFocus} onblur={handleChange}
														data-index={item.rowId} required={item.individualDataRequire}
														placeholder={label.enterTheValue}> </lightning-input>
												</template>
											</template>
										</div>
									</div>
									<div
										class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
										<div class="slds-m-horizontal_medium">
											<template if:true={item.isGuarantor}>
												<lightning-combobox name="type" label={label.PrimaryGuarantor}
													value={item.primaryGuarantor} placeholder="Select an Option"
													options={primaryTypes} onchange={handleChange}
													data-id="primaryGuarantor" required={item.multipleGuarantor}
													data-index={item.rowId}> </lightning-combobox>
											</template>
											<template if:false={item.isGuarantor}>
												<!--disabled={item.isPrimaryGuarantorDisable}-->
												<lightning-combobox name="type" label={label.PrimaryGuarantor}
													value={item.primaryGuarantor} placeholder="Select an Option"
													options={primaryTypes} onchange={handleChange}
													data-id="primaryGuarantor" required={item.multipleGuarantor}
													data-index={item.rowId}> </lightning-combobox>
											</template>
										</div>
									</div>
								</div>
							</div>
						</div>
						<template if:false={item.isGuarantor}>
							<div class="slds-grid slds-wrap ">
								<div class="slds-col slds-size_1-of-2 ">
									<div class="slds-grid slds-wrap">
										<div
											class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
											<div class="slds-m-horizontal_medium">
												<template if:false={item.isCreatedByMe}>
													<template if:false={item.ismaskedOtherStreetAddressRequired}>
													<lightning-input type="Text" label={label.OtherStreetAddress}
														data-id="maskedOtherStreetAddress" oncommit={handleChange}
														value={item.maskedOtherStreetAddress} data-index={item.rowId}
														disabled={item.isOtherStreetAddressDisable}
														placeholder={label.enterTheValue}></lightning-input>
													</template>
													<template if:true={item.ismaskedOtherStreetAddressRequired}>
													<lightning-input type="Text" label={label.OtherStreetAddress}
														data-id="otherStreetAddress" oncommit={handleChange}
														value={item.otherStreetAddress} data-index={item.rowId}
														disabled={item.isOtherStreetAddressDisable}
														placeholder={label.enterTheValue}></lightning-input>
													</template>
												</template>
												
												<template if:true={item.isCreatedByMe}>
													<lightning-input type="Text" label={label.OtherStreetAddress}
														data-id="otherStreetAddress" oncommit={handleChange}
														value={item.otherStreetAddress} data-index={item.rowId}
														disabled={item.isOtherStreetAddressDisable}
														placeholder={label.enterTheValue}></lightning-input>
												</template>
											</div>
										</div>
										<div
											class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
											<div class="slds-m-horizontal_medium">
												<lightning-combobox options={countryControllingValues}
													label={label.OtherCounty} disabled={item.isOtherCountyDisable}
													data-id="otherCounty" onchange={handleChange}
													value={item.otherCounty} data-index={item.rowId}>
												</lightning-combobox>
											</div>
										</div>
									</div>
								</div>
								<div class="slds-col slds-size_1-of-2">
									<div class="slds-grid slds-wrap">
										<div
											class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
											<div class="slds-m-horizontal_medium">
												<c-dynamic-select-component custom-options={defaultCountryAndStateData}
													selected-value={item.otherState} custom-label={label.OtherState}
													dependent-value={item.otherCounty}
													is-disable={item.isOtherStateDisable}
													key-param={dependentPickListKey.otherState}
													current-index={item.rowId} data-id="otherState"
													onselectdependentpicklist={handleSelectDependentpicklist}>
												</c-dynamic-select-component>
											</div>
										</div>
										<div
											class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12 ">
											<div class="slds-m-horizontal_medium">
												<lightning-input type="Text" label={label.OtherCity}
													placeholder={label.enterTheValue} disabled={item.isOtherCityDisable}
													data-id="otherCity" oncommit={handleChange} value={item.otherCity}
													data-index={item.rowId}> </lightning-input>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="slds-grid slds-wrap slds-m-bottom_small ">
								<div class="slds-col slds-size_1-of-2 ">
									<div class="slds-grid slds-wrap">
										<div
											class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_6-of-12">
											<div class="slds-m-horizontal_medium">
												<lightning-input type="Text" label={label.OtherZip}
													placeholder={label.enterTheValue} disabled={item.isOtherZipDisable}
													data-id="otherZip" oncommit={handleChange} value={item.otherZip}
													data-index={item.rowId} maxlength="20"></lightning-input>
											</div>
										</div>
									</div>
								</div>
							</div>
						</template>
					</div>
				</div>
			</div>
		</lightning-card>
	</template>
	<template if:true={isMutiplePrimary}>
		<!-- Modal/Popup Box LWC starts here -->
		<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
			aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
			<div class="slds-modal__container">
				<!-- Modal/Popup Box LWC header here -->
				<header class="slds-modal__header">
					<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
						title="Close" onclick={closeModal}>
						<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
							size="small"></lightning-icon> <span class="slds-assistive-text">Close</span>
					</button>
					<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Invalid Entry</h2>
				</header>
				<!-- Modal/Popup Box LWC body starts here -->
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
					<p><b>{errorPopupMessageDescription}
						</b></p>
					<p><b>{conditionalMessageBody}{conditionalPopupMessageBodyElse}
						</b></p>
				</div>
				<!-- Modal/Popup Box LWC footer starts here -->
				<footer class="slds-modal__footer">
					<button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
					<button class="slds-button slds-button_brand" onclick={closeModal} title="OK">OK</button>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>
	<c-error-modal is-error-visible={errorDetails.isErrorVisible} header-message={errorDetails.headerMessage}
		error-content={errorDetails.errorContent} onerrordisplay={handleErrorPopup}></c-error-modal>
</template>