<template>



    <div if:true={dataTableColumn}>
      <c-searching-application table-label={label.searchApplication} records={tableData} table-columns={dataTableColumn}
        key-field="id" onsearchopportunity={handleSearchKey} onnumberofrecordsonpage={handleRecordsOnPage}
        onsortingdeals={handleSorting} s-object={opportunityObject} options={pageSizeOptions} page-size={pageSize}
        onpaginateaction={handlePaginationAction} oncleartabledata={handleSearchKey} is-record-found={isRecordFound}
        table-action-column={actionColumn} offset-value={offsetValue} is-last-record={isLastRecord}> 
  
    <!--    <div slot="actions"> 
          
  
            
            <lightning-button label={label.homePage} title={label.homePage} onclick={handleClick}
            class="slds-m-left_x-small" name="backToHome" icon-name="standard:home"></lightning-button>
  
        </div>-->
  
      </c-searching-application>
    </div>
  
  
  
    <div if:true={displaySpinner}>
      <lightning-spinner variant="brand" alternative-text="Loading Cases" size="medium">
      </lightning-spinner>
    </div>
  </template>