.slds-item_label{
    background-color:#f3f3f3;
    color:black;
    font-size: medium;
    padding:5px;
    margin-bottom:2px;
    width: 50%;
  }
  .slds-item_detail{
    background-color:#f3f3f3;
    color:black;
    font-size: medium;
    font-weight: bold;
    padding:5px;
    margin-bottom:2px;
    width: 50%;
  }
  
  .slds-text-color_default {
    color: black;
    font-size: medium;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 15px;
}

.border-right-seperator {
  border-right: 2px solid #ffffff!important;
}

.font-size-small {
  font-size:14px;
}