<template>
    <div if:true={visible}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-label-01" aria-modal="true"
            aria-describedby="modal-dialog-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
            <div class="slds-modal__container">
                <header class="slds-modal__header header-style-container">
                    <button class="close-btn slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" name="cancel" onclick={handleClick}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                            size="small">
                        </lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-label-01" class="slds-text-heading_medium slds-hyphenate"><strong>{title}</strong></h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium border-left-blue border-right-blue" id="modal-dialog-content-id-1">
                    <p>
                        <template if:true={message}>
                            {message}
                        </template>
                        <slot name='dynamicMessage'>

                        </slot>
                    </p>
                </div>
                <footer class="slds-modal__footer border-left-blue border-right-blue border-bottom-blue no-top-border">
                    <template if:true={cancelLabel}>
                        <lightning-button variant="neutral" name="cancel" label={cancelLabel} title={cancelLabel} onclick={handleClick}
                            class="slds-m-left_x-small"></lightning-button>
                    </template>
                    <template if:true={confirmLabel}>
                        <lightning-button variant="success" name="confirm" label={confirmLabel} title={confirmLabel} onclick={handleClick}
                            class="slds-m-left_x-small"></lightning-button>
                    </template>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</template>