.accordion-background .slds-accordion__section .slds-accordion__summary {
	background: #eaeaea!important;
    padding: 5px;
    font-weight: bold;
}
.slds-modal__header {
    background-color: var(--sds-c-modal-header-color-background, #003e7e);
    color: var(--sds-c-badge-color-text, white);
    /* Styles not pertinent have been omitted */
  }

  .slds-modal__footer
{
    border-top: 0px;
}
.slds-text-heading_medium{
    text-align: left!important;
  }

  div.container-background {
    background-color: #f3f3f3;
  }

  div.inner-container {
    background-color: #ffffff;
    }

.text-white {
    color:white;
}

button.close-btn {
  top: 20%;
  right: 0.5rem;
}

.border-left-blue {
  border-left: 2px solid  rgba(0, 62, 126, 1)!important;
}

.border-right-blue {
  border-right: 2px solid  rgba(0, 62, 126, 1)!important;
}

.border-bottom-blue {
  border-bottom: 2px solid  rgba(0, 62, 126, 1)!important;
}

.no-top-border {
  border-top: 0!important;
}