<template>
	<div class="container-style-tag" lwc:dom="manual"></div>
	<div>
		<!-- Modal/Popup Box LWC starts here -->
		<section role="dialog" tabindex="-1" aria-modal="true" class="slds-modal slds-fade-in-open slds-modal_medium">
			<div class="slds-modal__container">
				<!-- Modal/Popup Box LWC header here -->
				<header class="slds-modal__header">
					<button class="close-btn slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" name="cancel" onclick={handleClick}>
						<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon> <span class="slds-assistive-text">{entityDetailLabels.closeLabel}</span> </button>
					<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
						<strong>{entityDetailLabels.entityInformationLabel}</strong>
					</h2>
				</header>
				<!-- Modal/Popup Box LWC body starts here -->
				<div class="slds-modal__content slds-p-around_medium border-right-blue border-left-blue " id="fcs-entity-inforamtion">
					<lightning-accordion allow-multiple-sections-open onsectiontoggle={handleSectionToggle} active-section-name={activeSections}>
						<lightning-accordion-section name="entityInformation" label="Entity Information" class="accordion-background">
							<div class="container-background slds-p-around_large">
								<div class="slds-box inner-container">
									<div class="slds-form" role="list">
										<div class="slds-form__row">
											<div class="slds-form__item" role="listitem">
												<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">
														{entityDetailLabels.entityNameLabel}</span>
													<div class="slds-form-element__control">
														<div class="slds-form-element__static"> <a href="javascript:void(0);"> {entityName} </a> </div>
													</div>
												</div>
											</div>
											<div class="slds-form__item" role="listitem">
												<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.entityTypeLabel}</span>
													<div class="slds-form-element__control">
														<div class="slds-form-element__static"> <a href="javascript:void(0);"> {entityType} </a> </div>
													</div>
												</div>
											</div>
										</div>
										<div class="slds-form__row">
											<div class="slds-form__item" role="listitem">
												<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.entityIdLabel}</span>
													<div class="slds-form-element__control">
														<div class="slds-form-element__static"> {entityInfo.entityId} </div>
													</div>
												</div>
											</div>
											<div class="slds-form__item" role="listitem">
												<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.standingLabel}</span>
													<div class="slds-form-element__control">
														<div class="slds-form-element__static"> {entityInfo.entityStanding} </div>
													</div>
												</div>
											</div>
										</div>
										<div class="slds-form__row">
											<div class="slds-form__item" role="listitem">
												<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.filingDateLabel}</span>
													<div class="slds-form-element__control">
														<div class="slds-form-element__static">{dateOfFiling}</div>
													</div>
												</div>
											</div>
											<div class="slds-form__item" role="listitem">
												<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.dateOfIncorporationLabel}</span>
													<div class="slds-form-element__control">
														<div class="slds-form-element__static">{dateOfIncorporation}</div>
													</div>
												</div>
											</div>
										</div>
										<div class="slds-form__row">
											<div class="slds-form__item" role="listitem">
												<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.domicileCountryLabel}</span>
													<div class="slds-form-element__control">
														<div class="slds-form-element__static" if:true={domicileInfo}> {domicileInfo.country}</div>
														<div class="slds-form-element__static" if:false={domicileInfo}> {entityDetailLabels.NALabel} </div>
													</div>
												</div>
											</div>
											<div class="slds-form__item" role="listitem">
												<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.domicileStateLabel}</span>
													<div class="slds-form-element__control">
														<div class="slds-form-element__static" if:true={domicileInfo}> {domicileInfo.state}</div>
														<div class="slds-form-element__static" if:false={domicileInfo}> {entityDetailLabels.NALabel} </div>
													</div>
												</div>
											</div>
										</div>
										<div class="slds-form__row">
											<div class="slds-form__item" role="listitem">
												<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.addressTypeLabel}</span>
													<div class="slds-form-element__control">
														<div class="slds-form-element__static" if:true={addressInfo}> {addressInfo.addressType} </div>
														<div class="slds-form-element__static" if:false={addressInfo}>{entityDetailLabels.NALabel} </div>
													</div>
												</div>
											</div>
											<div class="slds-form__item" role="listitem">
												<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.timeInServiceLabel}</span>
													<div class="slds-form-element__control">
														<div class="slds-form-element__static" if:true={entityInfo.timeInService}> {entityInfo.timeInService} </div>
														<div class="slds-form-element__static" if:false={entityInfo.timeInService}>{entityDetailLabels.NALabel} </div>
													</div>
												</div>
											</div>
										</div>
										<div class="slds-form__row">
											<div class="slds-form__item" role="listitem">
												<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{addresOneLabel}</span>
													<div class="slds-form-element__control">
														<div class="slds-form-element__static" if:true={addressInfo}> {addressInfo.address1} </div>
														<div class="slds-form-element__static" if:false={addressInfo}> {entityDetailLabels.NALabel} </div>
													</div>
												</div>
											</div>
											<div class="slds-form__item" role="listitem">
												<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{addresTwoLabel}</span>
													<div class="slds-form-element__control">
														<div class="slds-form-element__static" if:true={addressInfo}> {addressInfo.address2} </div>
														<div class="slds-form-element__static" if:false={addressInfo}> {entityDetailLabels.NALabel} </div>
													</div>
												</div>
											</div>
										</div>
										<div class="slds-form__row">
											<div class="slds-form__item" role="listitem">
												<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.cityLabel}</span>
													<div class="slds-form-element__control">
														<div class="slds-form-element__static" if:true={addressInfo}> {addressInfo.city} </div>
														<div class="slds-form-element__static" if:false={addressInfo}> {entityDetailLabels.NALabel} </div>
													</div>
												</div>
											</div>
											<div class="slds-form__item" role="listitem">
												<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.stateLabel}</span>
													<div class="slds-form-element__control">
														<div class="slds-form-element__static" if:true={addressInfo}> {addressInfo.stateOrProvince} </div>
														<div class="slds-form-element__static" if:false={addressInfo}> {entityDetailLabels.NALabel} </div>
													</div>
												</div>
											</div>
										</div>
										<div class="slds-form__row">
											<div class="slds-form__item" role="listitem">
												<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.countryLabel}</span>
													<div class="slds-form-element__control">
														<div class="slds-form-element__static" if:true={addressInfo}> {addressInfo.country} </div>
														<div class="slds-form-element__static" if:false={addressInfo}> {entityDetailLabels.NALabel} </div>
													</div>
												</div>
											</div>
											<div class="slds-form__item" role="listitem">
												<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.postalCodeLabel}</span>
													<div class="slds-form-element__control">
														<div class="slds-form-element__static" if:true={addressInfo}> {addressInfo.postalCode} </div>
														<div class="slds-form-element__static" if:false={addressInfo}> {entityDetailLabels.NALabel} </div>
													</div>
												</div>
											</div>
										</div>
										<div class="slds-form__row">
											<div class="slds-form__item" role="listitem">
												<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.countryOrParishLabel}</span>
													<div class="slds-form-element__control">
														<div class="slds-form-element__static" if:true={addressInfo}> {addressInfo.countryOrParish} </div>
														<div class="slds-form-element__static" if:false={addressInfo}> {entityDetailLabels.NALabel} </div>
													</div>
												</div>
											</div>
											<div class="slds-form__item" role="listitem">
											</div>
										</div>
									</div>
								</div>
							</div>
						</lightning-accordion-section>
						<lightning-accordion-section name="partyInformation" label="Parties Information" class="accordion-background">
							<div class="container-background slds-p-around_large">
								<template if:true={partyInfo}>
									<template for:each={partyInfo} for:item="party"> 
									<div class="slds-box inner-container" key={party.partyKey}>
										<div class="slds-form" role="list">
											<div class="slds-form__row">
												<div class="slds-form__item" role="listitem">
													<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.partyTypeLabel}</span>
														<div class="slds-form-element__control">
															<div class="slds-form-element__static" if:true={party.partiesType}>{party.partiesType} </div>
															<div class="slds-form-element__static" if:false={party.partiesType}>{entityDetailLabels.NALabel} </div>
														</div>
													</div>
												</div>
												<div class="slds-form__item" role="listitem">
													<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.titleLabel}</span>
														<div class="slds-form-element__control">
															<div class="slds-form-element__static" if:true={party.title}> {party.title} </div>
															<div class="slds-form-element__static" if:false={party.title}> {entityDetailLabels.NALabel} </div>
														</div>
													</div>
												</div>
											</div>
											<template if:true={party.listOfPartiesName} for:each={party.listOfPartiesName} for:item="eachParty">
												<template if:true={eachParty}>
													<div class="slds-form__row" key={eachParty.entityName}>
														<div class="slds-form__item" role="listitem">
															<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.entityNameLabel}</span>
																<div class="slds-form-element__control">
																	<div class="slds-form-element__static" if:true={eachParty.entityName}> {eachParty.entityName} </div>
																	<div class="slds-form-element__static" if:false={eachParty.entityName}> {entityDetailLabels.NALabel} </div>
																</div>
															</div>
														</div>
														<div class="slds-form__item" role="listitem"> </div>
													</div>
													<template if:true={eachParty.listOfAddress} for:each={eachParty.listOfAddress} for:item="partyAddress">
														<div key={partyAddress.addressKey}>
															<div class="slds-form__row">
																<div class="slds-form__item" role="listitem">
																	<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.addressTypeLabel}</span>
																		<div class="slds-form-element__control">
																			<div class="slds-form-element__static" if:true={partyAddress}> {partyAddress.addressType} </div>
																			<div class="slds-form-element__static" if:false={partyAddress}> {entityDetailLabels.NALabel} </div>
																		</div>
																	</div>
																</div>
																<div class="slds-form__item" role="listitem"></div>
															</div>
															<div class="slds-form__row">
																<div class="slds-form__item" role="listitem">
																	<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{addresOneLabel}</span>
																		<div class="slds-form-element__control">
																			<div class="slds-form-element__static" if:true={partyAddress.address1}> {partyAddress.address1} </div>
																			<div class="slds-form-element__static" if:false={partyAddress.address1}> {entityDetailLabels.NALabel} </div>
																		</div>
																	</div>
																</div>
																<div class="slds-form__item" role="listitem">
																	<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{addresTwoLabel}</span>
																		<div class="slds-form-element__control">
																			<div class="slds-form-element__static" if:true={partyAddress.address2}> {partyAddress.address2} </div>
																			<div class="slds-form-element__static" if:false={partyAddress.address2}> {entityDetailLabels.NALabel} </div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="slds-form__row">
																<div class="slds-form__item" role="listitem">
																	<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.cityLabel}</span>
																		<div class="slds-form-element__control">
																			<div class="slds-form-element__static" if:true={partyAddress.city}> {partyAddress.city} </div>
																			<div class="slds-form-element__static" if:false={partyAddress.city}> {entityDetailLabels.NALabel} </div>
																		</div>
																	</div>
																</div>
																<div class="slds-form__item" role="listitem">
																	<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.stateLabel}</span>
																		<div class="slds-form-element__control">
																			<div class="slds-form-element__static" if:true={partyAddress.stateOrProvince}> {partyAddress.stateOrProvince} </div>
																			<div class="slds-form-element__static" if:false={partyAddress.stateOrProvince}> {entityDetailLabels.NALabel} </div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="slds-form__row">
																<div class="slds-form__item" role="listitem">
																	<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.countryLabel}</span>
																		<div class="slds-form-element__control">
																			<div class="slds-form-element__static" if:true={partyAddress.country}> {partyAddress.country} </div>
																			<div class="slds-form-element__static" if:false={partyAddress.country}> {entityDetailLabels.NALabel} </div>
																		</div>
																	</div>
																</div>
																<div class="slds-form__item" role="listitem">
																	<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">
																			{entityDetailLabels.ADDRESS.postalCodeLabel}</span>
																		<div class="slds-form-element__control">
																			<div class="slds-form-element__static" if:true={partyAddress.postalCode}> {partyAddress.postalCode} </div>
																			<div class="slds-form-element__static" if:false={partyAddress.postalCode}> {entityDetailLabels.NALabel} </div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="slds-form__row">
																<div class="slds-form__item" role="listitem">
																	<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.countryOrParishLabel}</span>
																		<div class="slds-form-element__control">
																			<div class="slds-form-element__static" if:true={partyAddress.countryOrParish}> {partyAddress.countryOrParish} </div>
																			<div class="slds-form-element__static" if:false={partyAddress.countryOrParish}> {entityDetailLabels.NALabel} </div>
																		</div>
																	</div>
																</div>
																<div class="slds-form__item" role="listitem">
																</div>
															</div>
														</div>
													</template>
												</template>
											</template>
										</div>
									</div>
									</template>
								</template>
								<template if:false={partyInfo}>
									<div class="text-white slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_info" role="alert"> <span class="slds-assistive-text">{entityDetailLabels.warningLabel}</span>
										<h2>{entityDetailLabels.noPartiesFoundLabel}</h2> </div>
								</template>
							</div>
						</lightning-accordion-section>
						<lightning-accordion-section name="agentInformation" label="Agent Information" class="accordion-background">
							<div class="container-background slds-p-around_large">
							<template if:true={agentInfo} >
								<template  for:each={agentInfo} for:item="agent" >
									<div class="slds-box inner-container" key={agent.agentKey}>
										<div class="slds-form" role="list">
											<template for:each={agent.listOfAgentsName} for:item="agentNameInfo">
												<div class="slds-form__row" key={agentNameInfo.entityName}>
													<div class="slds-form__item" role="listitem">
														<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.entityNameLabel}</span>
															<div class="slds-form-element__control">
																<div class="slds-form-element__static" if:true={agentNameInfo.entityName}> {agentNameInfo.entityName} </div>
																<div class="slds-form-element__static" if:false={agentNameInfo.entityName}> {entityDetailLabels.NALabel} </div>
															</div>
														</div>
													</div>
													<div class="slds-form__item" role="listitem"></div>
												</div>
												<template if:true={agentNameInfo.listOfAddress} for:each={agentNameInfo.listOfAddress} for:item="agentAddress">
													<div key={agentAddress.addressKey}>
														<div class="slds-form__row">
															<div class="slds-form__item" role="listitem">
																<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{addresOneLabel}</span>
																	<div class="slds-form-element__control">
																		<div class="slds-form-element__static" if:true={agentAddress.address1}> {agentAddress.address1} </div>
																		<div class="slds-form-element__static" if:false={agentAddress.address1}> {entityDetailLabels.NALabel} </div>
																	</div>
																</div>
															</div>
															<div class="slds-form__item" role="listitem">
																<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{addresTwoLabel}</span>
																	<div class="slds-form-element__control">
																		<div class="slds-form-element__static" if:true={agentAddress.address2}> {agentAddress.address2} </div>
																		<div class="slds-form-element__static" if:false={agentAddress.address2}> {entityDetailLabels.NALabel} </div>
																	</div>
																</div>
															</div>
														</div>
														<div class="slds-form__row">
															<div class="slds-form__item" role="listitem">
																<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.cityLabel}</span>
																	<div class="slds-form-element__control">
																		<div class="slds-form-element__static" if:true={agentAddress.city}> {agentAddress.city} </div>
																		<div class="slds-form-element__static" if:false={agentAddress.city}> {entityDetailLabels.NALabel} </div>
																	</div>
																</div>
															</div>
															<div class="slds-form__item" role="listitem">
																<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.stateLabel}</span>
																	<div class="slds-form-element__control">
																		<div class="slds-form-element__static" if:true={agentAddress.stateOrProvince}> {agentAddress.stateOrProvince} </div>
																		<div class="slds-form-element__static" if:false={agentAddress.stateOrProvince}> {entityDetailLabels.NALabel} </div>
																	</div>
																</div>
															</div>
														</div>
														<div class="slds-form__row">
															<div class="slds-form__item" role="listitem">
																<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.countryLabel}</span>
																	<div class="slds-form-element__control">
																		<div class="slds-form-element__static" if:true={agentAddress.country}> {agentAddress.country} </div>
																		<div class="slds-form-element__static" if:false={agentAddress.country}> {entityDetailLabels.NALabel} </div>
																	</div>
																</div>
															</div>
															<div class="slds-form__item" role="listitem">
																<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.postalCodeLabel}</span>
																	<div class="slds-form-element__control">
																		<div class="slds-form-element__static" if:true={agentAddress.postalCode}> {agentAddress.postalCode} </div>
																		<div class="slds-form-element__static" if:false={agentAddress.postalCode}> {entityDetailLabels.NALabel} </div>
																	</div>
																</div>
															</div>
                                                        </div>
                                                        <div class="slds-form__row">
															<div class="slds-form__item" role="listitem">
																<div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent"> <span class="slds-form-element__label">{entityDetailLabels.ADDRESS.countryOrParishLabel}</span>
																	<div class="slds-form-element__control">
																		<div class="slds-form-element__static" if:true={agentAddress.countryOrParish}> {agentAddress.countryOrParish} </div>
																		<div class="slds-form-element__static" if:false={agentAddress.countryOrParish}> {entityDetailLabels.NALabel} </div>
																	</div>
																</div>
															</div>
															<div class="slds-form__item" role="listitem">
															</div>
														</div>
													</div>
												</template>
											</template>
										</div>
									</div>
								</template>
                            </template>
                            <template if:false={agentInfo}>
                                <div class="text-white slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_info" role="alert"> <span class="slds-assistive-text">{entityDetailLabels.warningLabel}</span>
                                    <h2>{entityDetailLabels.noAgentsFoundLabel}</h2> </div>
							</template>
							</div>
						</lightning-accordion-section>
					</lightning-accordion>
				</div>
				<!-- Modal/Popup Box LWC footer starts here -->
				<footer class="slds-modal__footer border-left-blue border-right-blue border-bottom-blue no-top-border">
					<lightning-button variant="neutral" name="cancel" label={entityDetailLabels.cancelLabel} title={entityDetailLabels.cancelLabel} onclick={handleClick} class="slds-m-left_x-small"> </lightning-button>
					<lightning-button variant="success" name="certify" label={entityDetailLabels.iCertifyLabel} title={entityDetailLabels.iCertifyLabel} onclick={handleClick} class="slds-m-left_x-small"> </lightning-button>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</div>
</template>