<template>
    <template if:true={isTermsAndConditionVisible}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-modal_medium slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header header-style-container">
                    <button class="close-btn slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                            size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                        <strong>{headerMessage}</strong></h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium border-right-blue border-left-blue"
                    id="modal-content-id-1">
                    <div class="slds-m-vertical_x-small"><b>{firstHeaderTitle}
                        </b>
                    </div>
                    <div class="slds-m-vertical_x-small">
                    </div>
                    <div class="slds-m-vertical_x-small">{firstHeaderTitleContent}
                        </b></div>
                    <div class="slds-m-vertical_x-small">
                    </div>

                    <div class="slds-m-vertical_x-small">{thirdHeaderTitleContent}
                        </b></div>
                    <div class="slds-m-vertical_x-small">{fourthHeaderTitleContent}
                        </b></div>
                    <div class="slds-m-vertical_x-small">{secondHeaderTitleContent}
                        </b></div>
                    <div class="slds-m-vertical_x-small">{fifthHeaderTitleContent}
                        </b></div>

                    <div class="slds-m-vertical_x-small">{sixthHeaderTitleContent}
                        </b></div>

                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer border-right-blue border-left-blue border-bottom-blue no-top-border">
                    <lightning-button variant="Neutral" label="Cancel" onclick={closeModal} class="slds-m-left_x-small">
                    </lightning-button>
                    <lightning-button variant="success" label={label.iAgree} onclick={onSubmit}
                        class="slds-m-left_x-small">
                    </lightning-button>

                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>