.searchLabelFont{
    font-size: small;
}
.redColor{
    cursor: pointer;        
}

.THIS .slds-datepicker table {
    table-layout: fixed;
}

.pillSize{
    width : 100%
}
.theme-color-text {
    color: #378456;
}

.slds-card__header {
    padding: 0rem 0rem 0rem;
    margin: 0px 0px 0px;
    background: #e6e6e6;
    opacity: 0.9;
   
}