<template>

    <div if:true={isLoaded} class="full-size-spinner">
        <lightning-spinner class="spins" alternative-text="Creating..." variant="brand" size="large">
            <p>Please wait record is getting created...</p>
        </lightning-spinner>

    </div>
    <template if:false={fieldEmpty}>
        <lightning-card>
            <div class="slds-clearfix equipment-header">
                <div style="float: left;font-size: 15px;font-weight: 700;"> Broker Comment </div>
            </div>
            <div class="container-background slds-p-around_medium">
                <div class="slds-box inner-container">
                    <div class="slds-form" role="list">
                        <div class="slds-form__row">
                            <div class="slds-form__item" role="listitem">
                                <div
                                    class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                                    <span class="slds-form-element__label">{label.dealName}</span>
                                    <div class="slds-form-element__control">
                                        <div class="slds-form-element__static"> {brokerInput.dealName} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form__item" role="listitem">
                                <div
                                    class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                                    <span class="slds-form-element__label">{label.fullLegalCompanyName}</span>
                                    <div class="slds-form-element__control">
                                        <div class="slds-form-element__static"> {brokerInput.companyName} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-form__row">
                            <div class="slds-form__item" role="listitem">
                                <div
                                    class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                                    <span class="slds-form-element__label">{label.equipmentDescription}</span>
                                    <div class="slds-form-element__control">
                                        <div class="slds-form-element__static"> {brokerInput.equipmentDescription}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form__item" role="listitem">
                                <div
                                    class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                                    <span class="slds-form-element__label">{label.estimatedEquipmentCost}</span>
                                    <div class="slds-form-element__control">
                                        <div class="slds-form-element__static"> {brokerInput.Amount} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="slds-m-vertical_medium">
                        <div class="slds-grid slds-wrap slds-m-top_small slds-p-bottom_x-large">

                            <div class="slds-col  slds-size_1-of-1 ">
                                <div class="slds-grid slds-wrap ">
                                    <div
                                        class="slds-col slds-size_1-of-1  slds-medium-size_12-of-12 slds-large-size_12-of-12">
                                     
                                            <lightning-textarea name="Broker Comment"
                                                label="Broker Comment(You cannot change this field value once submitted)"
                                                placeholder="type here..." value={brokerInput.comment} required
                                                onchange={handleBrokerComments}></lightning-textarea>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-p-top_medium slds-p-right_medium slds-p-bottom_medium slds-m-bottom_medium">
                        <div class="slds-align_absolute-center">
                            <lightning-button variant="neutral" label="Submit" onclick={handleSubmittedComment}
                                class="slds-m-left_x-small">
                            </lightning-button>
                        </div>
                    </div>
                </div>
            </div>
        </lightning-card>
    </template>
    <template if:true={fieldEmpty}>
        <div class="slds-align_absolute-center">
            <b>{label.commnenthasalreadybeenregistered}</b>
        </div>
    </template>

    <c-error-modal is-error-visible={errorDetails.isErrorVisible} header-message={errorDetails.headerMessage}
        error-content={errorDetails.errorContent} onerrordisplay={handleErrorPopup}></c-error-modal>
    <c-application-popup-section is-popup-visible={isModalOpen} onpopupclose={onClosingModal}
        confirmation-message={label.commentSubmittedSuccessfully} is-detail-visible={isCompanyModalOpen}
        headermessage={label.brokerComments} is-button-visible={isButtonVisible} custom-button-label={label.ok}>
    </c-application-popup-section>
</template>