.THIS input.slds-input{
    height: 45px!important;
}


div.equipment-header {
    background-color: #378456!important;
    color: white!important;
    font-weight: 700!important;
    margin-bottom: 0!important;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
     margin-top: -24px;
}

div.container-background {
    background-color: #f3f3f3;
}

div.inner-container {
    background-color: #ffffff;
}

header.header-style-container {
    background-color: rgba(0, 62, 126, 1)!important;
    color: white!important;
    text-align: left!important;
}

button.close-btn {
    top: 20%;
    right: 0.5rem;
}

.border-left-blue {
    border-left: 2px solid  rgba(0, 62, 126, 1)!important;
}

.border-right-blue {
    border-right: 2px solid  rgba(0, 62, 126, 1)!important;
}

.border-bottom-blue {
    border-bottom: 2px solid  rgba(0, 62, 126, 1)!important;
}

.no-top-border {
    border-top: 0!important;
}