<template>

        
            <div class="container-background slds-p-around_large">
                <div class="slds-box inner-container">
                    <div class="slds-form" role="list">
                        <div class="slds-form__row">
                            <div class="slds-form__item" role="listitem">
                                <div
                                    class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                                    <span class="slds-form-element__label">Broker Comments</span>
                                    <div class="slds-form-element__control">
                                        <div class="slds-form-element__static">
                                            {comment} </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
   
</template>